<div class="container" style="padding-left: 93px;">
    <div class="row" style="margin-top: 48px;">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: end;">
            <img src="assets/icons/quesmark.png">
        </div>
    </div>
    <div class="row p-0 infoBox">
        <div
            style="display: flex;flex-direction: row;align-content: stretch;justify-content: space-between; align-items: center;margin-top: 10px;">
            <p class="texthead">Company Information</p>
            <img src="assets/icons/edit.png" class="editIcon" (click)="editInfo()">
        </div>
        <form [formGroup]="infoForm" autocomplete="off">
            <div class="mb-3">
                <div class="row">
                    <div class="col-6 ">
                        <label class="form-label label" for="passwordInput">Business Address</label>
                        <input type="text" formControlName="address" placeholder="enter" placeholder="enter" class="form-control input ">

                    </div>
                    <div class="col-6">
                        <label class="form-label label" for="repeatPassword">Vat ID</label>
                        <input type="text" formControlName="vatID" placeholder="enter" placeholder="enter" class="form-control input ">

                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-6 ">
                        <label class="form-label label" for="passwordInput">City</label>
                        <input type="text" formControlName="city" placeholder="enter" placeholder="enter" class="form-control input ">

                    </div>
                    <div class="col-6">
                        <label class="form-label label" for="repeatPassword">Business Email </label>
                        <input type="text" formControlName="email" placeholder="enter" placeholder="enter" class="form-control input ">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-6 ">
                        <label class="form-label label" for="passwordInput">County</label>
                        <input type="text" formControlName="county" placeholder="enter" placeholder="enter" class="form-control input ">

                    </div>
                    <div class="col-6">
                        <label class="form-label label" for="repeatPassword">Registration number</label>
                        <input type="text" formControlName="regId" placeholder="enter" placeholder="enter" class="form-control input ">

                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-6 ">
                        <label class="form-label label" for="passwordInput">Country</label>
                        <input type="text" formControlName="country" placeholder="enter" placeholder="enter" class="form-control input ">

                    </div>
                    <div class="col-6">
                        <label for="myfile" class="labelUpload">Upload Document</label>
                        <input type="file" id="myfile" name="myfile" style="display:none;">

                    </div>
                </div>
            </div>
            <div class="mb-3" *ngIf="showEdit">
                <div class="row">
                    <div class="col-6 ">
                        <button class="btn btn-primary savebtn">Save</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary cancelbtn">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>