<div class="container">
    <div class="row p-0 infoBox">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="staffBox">
                <div class="row imgRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <h2 class="textH2">Setting up your salon</h2>
                        <!-- <img src="assets/icons/closeGrey.png" class="closeIcon"> -->
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                        <p class="ptext">Let us help you get your salon up and running in 4 easy steps</p>
                    </div>
                    <div class="stepDiv">
                        <div class="steps">
                            <span class="stepSpan">1</span>
                            <span class="stepSpan">2</span>
                            <span class="stepSpan">3</span>
                            <span class="stepSpan">4</span>
                        </div>
                        <button class="btn btn-primary savebtn" (click)="start('one')">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>