<div class="container">
    <div class="row p-0 infoBox">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="staffBox">
                <div class="row imgRow" *ngIf="initialBox">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <h2 class="textH2">Setting up your salon</h2>
                        <img src="assets/icons/closeGrey.png" class="closeIcon">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                        <p class="ptext">Let us help you get your salon up and running in 4 easy steps</p>
                    </div>
                    <div class="stepDiv">
                        <div class="steps">
                            <span class="stepSpan">1</span>
                            <span class="stepSpan">2</span>
                            <span class="stepSpan">3</span>
                            <span class="stepSpan">4</span>
                        </div>
                        <button class="btn btn-primary savebtn" (click)="start('one')">Start</button>
                    </div>
                </div>
                <div class="row imgRow" *ngIf="steps == 'one'">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <h2 class="textH2">Step One</h2>
                        <img src="assets/icons/closeGrey.png" class="closeIcon">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                       <ul>
                        <li>Go to company registration and fill out the form</li>
                        <li>If you get stuck, click on the question mark for help</li>
                       </ul>
                    </div>
                    <div class="stepDiv">
                        <div class="steps">
                            <span class="stepSpan" style="background:#5E5CE6; color:#FFFFFF;">1</span>
                            <span class="stepSpan">2</span>
                            <span class="stepSpan">3</span>
                            <span class="stepSpan">4</span>
                        </div>
                        <button class="btn btn-primary savebtn" (click)="start('two')">Next</button>
                    </div>
                </div>
                <div class="row imgRow" *ngIf="steps == 'two'">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <h2 class="textH2">Step Two</h2>
                        <img src="assets/icons/closeGrey.png" class="closeIcon">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                       <ul>
                        <li>Click on the salon page</li>
                        <li>Fill out both forms</li>
                        <li>If you get stuck, click on the question mark for help</li>
                       </ul>
                    </div>
                    <div class="stepDiv">
                        <div class="steps">
                            <span class="stepSpan">1</span>
                            <span class="stepSpan" style="background:#5E5CE6; color:#FFFFFF;">2</span>
                            <span class="stepSpan">3</span>
                            <span class="stepSpan">4</span>
                        </div>
                        <button class="btn btn-primary savebtn" (click)="start('three')">Next</button>
                    </div>
                </div>
                <div class="row imgRow" *ngIf="steps == 'three'">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <h2 class="textH2">Step Three</h2>
                        <img src="assets/icons/closeGrey.png" class="closeIcon">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                       <ul>
                        <li>Click on Positions</li>
                        <li>Click add Positions</li>
                        <li>Enter email</li>
                        <li>Click on pencil</li>
                        <li>Fill out the forms</li>
                        <li>If you get stuck, click on the question mark for help at anytime</li>
                       </ul>
                    </div>
                    <div class="stepDiv">
                        <div class="steps">
                            <span class="stepSpan">1</span>
                            <span class="stepSpan">2</span>
                            <span class="stepSpan" style="background:#5E5CE6; color:#FFFFFF;">3</span>
                            <span class="stepSpan">4</span>
                        </div>
                        <button class="btn btn-primary savebtn" (click)="start('four')">Next</button>
                    </div>
                </div>
                <div class="row imgRow" *ngIf="steps == 'four'">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <h2 class="textH2">Step Four</h2>
                        <img src="assets/icons/closeGrey.png" class="closeIcon">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                       <ul>
                        <li>Click add staff</li>
                        <li>In the box, click the pencil to edit</li>
                        <li>Fill out the form</li>
                        <li>If you get stuck, click on the question mark for help at anytime</li>
                       </ul>
                    </div>
                    <div class="stepDiv">
                        <div class="steps">
                            <span class="stepSpan">1</span>
                            <span class="stepSpan">2</span>
                            <span class="stepSpan">3</span>
                            <span class="stepSpan" style="background:#5E5CE6; color:#FFFFFF;">4</span>
                        </div>
                        <button class="btn btn-primary savebtn" >Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>