<div class="container" style="padding: 25px;">
    <div class="row" style="margin-top: 42px;">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: end;">
            <button class="btn btn-primary cancelbtn addbtn">{{'buttonsText.AddSalon' | translate }}</button>
            <button class="btn btn-primary cancelbtn addbtn">{{'buttonsText.DeleteSalon' | translate }}</button>
            <img src="assets/icons/quesmark.svg" mat-button (click)="openDialog()" class="quesIcon">
        </div>
    </div>
    <div class="row p-0 infoBox" *ngIf="showWizard">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="staffBox">
                <div class="row imgRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <h2 class="textH2">{{'SalonPage.WizardHead' | translate }}</h2>
                        <img src="assets/icons/closeGrey.svg" class="closeIcon" (click)="finishWizard()">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                        <ul>
                            <li>{{'SalonPage.WizardPara1' | translate }}</li>
                            <li>{{'SalonPage.WizardPara2' | translate }}</li>
                            <li>{{'SalonPage.WizardPara3' | translate }}</li>
                        </ul>
                    </div>
                    <div class="stepDiv">
                        <div class="steps">
                            <span class="stepSpan">1</span>
                            <span class="stepSpan" style="background:#5E5CE6; color:#FFFFFF;">2</span>
                            <span class="stepSpan">3</span>
                            <span class="stepSpan">4</span>
                        </div>
                        <button class="btn btn-primary savebtn" (click)="nextWizard()">{{'buttonsText.Next' | translate
                            }} </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 42px; background-color: #C4C4C4;">
        <div class="col-lg-12 col-md-12 col-sm-12 camColm" *ngIf="!imageUrl">
            <label for="uploadData" class="browse newImgBrw">
                <img src="assets/icons/camera.svg" class="camIcon">
            </label>
            <input id="uploadData" type="file" style="display: none;" #Image (change)="uploadImg($event)"
                accept="image/png, image/gif, image/jpeg">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 camColm camCol2" *ngIf="imageUrl">
            <label for="uploadData" class="browse newImgBrw">
                <img [src]="imageUrl" class="camImg2">
            </label>
            <input id="uploadData" type="file" style="display: none;" #Image (change)="uploadImg($event)"
                accept="image/png, image/gif, image/jpeg">
        </div>
    </div>
    <div class="row p-0 infoBox">
        <div class="col-lg-6 col-md-6 col-sm-12 columnInp">
            <div class="formCol">
                <p class="texthead">{{'SalonPage.HeadingText' | translate }}</p>
                <img src="assets/icons/edit.svg" class="editIcn" (click)="editSalonDetail('edit')">
            </div>
            <form [formGroup]="salonDetailForm" autocomplete="off">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 columnInp ">
                            <label class="form-label label" for="passwordInput">{{'FormDetails.Address' | translate
                                }}</label>
                            <input type="text" placeholder="Enter Address" class="form-control input "
                                formControlName="address"
                                [class.is-invalid]="address.invalid && (address.dirty || address.touched)"
                                maxlength="300">
                            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="invalid-feedback">
                                <div *ngIf="address.errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="address.errors?.['maxlength']">
                                    Please add maximum 300 charaters
                                </div>
                            </div>

                        </div>
                        <div class="col-6 columnInp">
                            <label class="form-label label" for="repeatPassword">{{'FormDetails.WorkPhoneNumber' |
                                translate }}</label>
                            <input type="text" placeholder="Enter Phone Number" class="form-control input "
                                formControlName="phoneNo"
                                [class.is-invalid]="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)"
                                minlength="10" maxlength="10">
                            <div *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)" class="invalid-feedback">
                                <div *ngIf="phoneNo.errors?.['required']">
                                    This field is required.
                                </div>
                                <div
                                    *ngIf="phoneNo.errors?.['maxlength'] || phoneNo.errors?.['minlength'] || phoneNo.errors?.['pattern']">
                                    Please add valid phone number
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 columnInp ">
                            <label class="form-label label" for="passwordInput">{{'FormDetails.City' | translate
                                }}</label>
                            <input type="text" placeholder="Enter City" class="form-control input "
                                formControlName="city" [class.is-invalid]="city.invalid && (city.dirty || city.touched)"
                                maxlength="30">
                            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="invalid-feedback">
                                <div *ngIf="city.errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="city.errors?.['maxlength']">
                                    Please add maximum 30 charaters
                                </div>
                                <div *ngIf="city.errors?.['pattern']">
                                    Please add valid city
                                </div>
                            </div>

                        </div>
                        <div class="col-6 columnInp">
                            <label class="form-label label" for="repeatPassword">{{'FormDetails.SalonName' | translate
                                }}</label>
                            <input type="text" placeholder="Enter Salon name" class="form-control input "
                                formControlName="salonName"
                                [class.is-invalid]="salonName.invalid && (salonName.dirty || salonName.touched)"
                                maxlength="60" minlength="2">
                            <div *ngIf="salonName.invalid && (salonName.dirty || salonName.touched)"
                                class="invalid-feedback">
                                <div *ngIf="salonName.errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="salonName.errors?.['maxlength'] || salonName.errors?.['minlength']">
                                    Please add atleast 2 and max 60 characters
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="webView">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6 columnInp ">
                                <label class="form-label label" for="passwordInput">{{'FormDetails.Country' | translate
                                    }}</label>
                                <input type="text" placeholder="Enter Country" class="form-control input "
                                    formControlName="country"
                                    [class.is-invalid]="country.invalid && (country.dirty || country.touched)"
                                    maxlength="30">
                                <div *ngIf="country.invalid && (country.dirty || country.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="country.errors?.['required']">
                                        This field is required.
                                    </div>
                                    <div *ngIf="country.errors?.['maxlength']">
                                        Please add maximum 30 charaters
                                    </div>
                                    <div *ngIf="country.errors?.['pattern']">
                                        Please add valid country
                                    </div>
                                </div>

                            </div>
                            <div class="col-6 columnInp" *ngIf="showEditSalonBtn">
                                <label for="myfile" class="labelUpload">{{'buttonsText.UploadBanner' | translate
                                    }}</label>
                                <input type="file" id="myfile" name="myfile" style="display:none;">

                            </div>
                            <div class="col-6 columnInp" *ngIf="!showEditSalonBtn">
                                <label for="myfile" class="labelUpload">{{'buttonsText.UploadBanner' | translate
                                    }}</label>
                                <input type="file" id="myfile" disabled name="myfile" style="display:none;">

                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6 columnInp ">
                                <label class="form-label label" for="passwordInput">{{'FormDetails.Zipcode' | translate
                                    }}</label>
                                <input type="text" placeholder="Enter Zipcode" class="form-control input "
                                    formControlName="zipCode"
                                    [class.is-invalid]="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
                                    maxlength="15">
                                <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="zipCode.errors?.['required']">
                                        This field is required.
                                    </div>
                                    <div *ngIf="zipCode.errors?.['maxlength']">
                                        Please add maximum 15 charaters
                                    </div>
                                    <div *ngIf="zipCode.errors?.['pattern']">
                                        Please add valid zip code
                                    </div>
                                </div>

                            </div>
                            <div class="col-6 columnInp" *ngIf="showEditSalonBtn">
                                <label for="myfile" class="labelUpload">{{'buttonsText.UploadLogo' | translate
                                    }}</label>
                                <input type="file" id="myfile" name="myfile" style="display:none;">

                            </div>
                            <div class="col-6 columnInp" *ngIf="!showEditSalonBtn">
                                <label for="myfile" class="labelUpload">{{'buttonsText.UploadLogo' | translate
                                    }}</label>
                                <input type="file" id="myfile" disabled name="myfile" style="display:none;">

                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6 columnInp ">
                                <label class="form-label label" for="passwordInput">{{'FormDetails.Currency' | translate
                                    }}</label>
                                <select class="form-control select" formControlName="currency" id="selectDrop"
                                    [class.is-invalid]="currency.invalid && (currency.dirty || currency.touched)">
                                    <option value="">Default</option>
                                    <option value="Default1">Default1</option>
                                </select>
                                <div *ngIf="currency.invalid && (currency.dirty || currency.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="currency.errors?.['required']">
                                        This field is required.
                                    </div>
                                </div>

                            </div>
                            <div class="col-6 columnInp btnCol" *ngIf="showEditSalonBtn">
                                <button class="btn btn-primary cancelbtn btns"
                                    (click)="editSalonDetail('cancel')">{{'buttonsText.Cancel' | translate }}</button>
                                <button class="btn btn-primary savebtn btns"
                                    (click)="saveSalonDetails()">{{'buttonsText.Save' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobileView">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6 columnInp ">
                                <label class="form-label label" for="passwordInput">{{'FormDetails.Country' | translate
                                    }}</label>
                                <input type="text" placeholder="Enter Country" class="form-control input "
                                    formControlName="country"
                                    [class.is-invalid]="country.invalid && (country.dirty || country.touched)"
                                    maxlength="30">
                                <div *ngIf="country.invalid && (country.dirty || country.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="country.errors?.['required']">
                                        This field is required.
                                    </div>
                                    <div *ngIf="country.errors?.['maxlength']">
                                        Please add maximum 30 charaters
                                    </div>
                                    <div *ngIf="country.errors?.['pattern']">
                                        Please add valid country
                                    </div>
                                </div>

                            </div>
                            <div class="col-6 columnInp ">
                                <label class="form-label label" for="passwordInput">{{'FormDetails.Zipcode' | translate
                                    }}</label>
                                <input type="text" placeholder="Enter Zipcode" class="form-control input "
                                    formControlName="zipCode"
                                    [class.is-invalid]="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
                                    maxlength="15">
                                <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="zipCode.errors?.['required']">
                                        This field is required.
                                    </div>
                                    <div *ngIf="zipCode.errors?.['maxlength']">
                                        Please add maximum 15 charaters
                                    </div>
                                    <div *ngIf="zipCode.errors?.['pattern']">
                                        Please add valid zip code
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6 columnInp ">
                                <label class="form-label label" for="passwordInput">{{'FormDetails.Currency' | translate }}</label>
                                <select class="form-control select" formControlName="currency"
                                    [class.is-invalid]="currency.invalid && (currency.dirty || currency.touched)">
                                    <option value="">Default</option>
                                    <option value="Default1">Default1</option>
                                </select>
                                <div *ngIf="currency.invalid && (currency.dirty || currency.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="currency.errors?.['required']">
                                        This field is required.
                                    </div>
                                </div>

                            </div>
                            <div class="col-6 columnInp" *ngIf="showEditSalonBtn">
                                <label for="myfile" class="labelUpload">{{'buttonsText.UploadBanner' | translate
                                    }}</label>
                                <input type="file" id="myfile" name="myfile" style="display:none;">

                            </div>
                            <div class="col-6 columnInp" *ngIf="!showEditSalonBtn">
                                <label for="myfile" class="labelUpload">{{'buttonsText.UploadBanner' | translate
                                    }}</label>
                                <input type="file" id="myfile" disabled name="myfile" style="display:none;">

                            </div>

                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6 columnInp" *ngIf="showEditSalonBtn">
                                <label for="myfile" class="labelUpload">{{'buttonsText.UploadLogo' | translate
                                    }}</label>
                                <input type="file" id="myfile" name="myfile" style="display:none;">

                            </div>
                            <div class="col-6 columnInp" *ngIf="!showEditSalonBtn">
                                <label for="myfile" class="labelUpload">{{'buttonsText.UploadLogo' | translate
                                    }}</label>
                                <input type="file" id="myfile" disabled name="myfile" style="display:none;">

                            </div>
                            <div class="col-6 columnInp btnCol" *ngIf="showEditSalonBtn">
                                <button class="btn btn-primary cancelbtn btns"
                                    (click)="editSalonDetail('cancel')">{{'buttonsText.Cancel' | translate }}</button>
                                <button class="btn btn-primary savebtn btns"
                                    (click)="saveSalonDetails()">{{'buttonsText.Save' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 columnInp">
            <div class="formCol">
                <p class="texthead">{{'timeInputForm.OpeningTimes' | translate }}</p>
                <img src="assets/icons/edit.svg" class="editIcn" (click)="editOpenTime('edit')">
            </div>
            <form [formGroup]="openingTimeForm" autocomplete="off">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-4 ">
                            <h3 class="colHeadTime">{{'timeInputForm.Day' | translate }}</h3>

                        </div>
                        <div class="col-4">
                            <h3 class="colHeadTime">{{'timeInputForm.Opening' | translate }}</h3>

                        </div>
                        <div class="col-4">
                            <h3 class="colHeadTime">{{'timeInputForm.Closing' | translate }}</h3>

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">{{'timeInputForm.Monday' | translate }}</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">{{'timeInputForm.Mon' | translate }}</label>
                        </div>
                        <div class="col-4">
                            <input [ngxTimepicker]="monOpen" readonly class="form-control input " placeholder="Time"
                                formControlName="monOpen" placeholder="Closed">
                            <ngx-material-timepicker #monOpen></ngx-material-timepicker>

                        </div>
                        <div class="col-4">
                            <input [ngxTimepicker]="monClose" readonly class="form-control input " placeholder="Time"
                                formControlName="monClose" placeholder="Closed">
                            <ngx-material-timepicker #monClose></ngx-material-timepicker>

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">{{'timeInputForm.Tuesday' | translate }}</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">{{'timeInputForm.Tues' | translate }}</label>

                        </div>
                        <div class="col-4">

                            <input [ngxTimepicker]="tuesOpen" readonly class="form-control input " placeholder="Time"
                                formControlName="tuesOpen" placeholder="Closed">
                            <ngx-material-timepicker #tuesOpen></ngx-material-timepicker>

                        </div>
                        <div class="col-4">

                            <input [ngxTimepicker]="tuesClose" readonly class="form-control input " placeholder="Time"
                                formControlName="tuesClose" placeholder="Closed">
                            <ngx-material-timepicker #tuesClose></ngx-material-timepicker>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">{{'timeInputForm.Wednesday' | translate }}</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">{{'timeInputForm.Wednes' | translate }}</label>

                        </div>
                        <div class="col-4">

                            <input [ngxTimepicker]="wedOpen" readonly class="form-control input " placeholder="Time"
                                formControlName="wedOpen" placeholder="Closed">
                            <ngx-material-timepicker #wedOpen></ngx-material-timepicker>
                        </div>
                        <div class="col-4">

                            <input [ngxTimepicker]="wedClose" readonly class="form-control input " placeholder="Time"
                                formControlName="wedClose" placeholder="Closed">
                            <ngx-material-timepicker #wedClose></ngx-material-timepicker>

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">{{'timeInputForm.Thursday' | translate }}</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">{{'timeInputForm.Thurs' | translate }}</label>
                        </div>
                        <div class="col-4">

                            <input [ngxTimepicker]="thursOpen" readonly class="form-control input " placeholder="Time"
                                formControlName="thursOpen" placeholder="Closed">
                            <ngx-material-timepicker #thursOpen></ngx-material-timepicker>

                        </div>
                        <div class="col-4">
                            <input [ngxTimepicker]="thursClose" readonly class="form-control input " placeholder="Time"
                                formControlName="thursClose" placeholder="Closed">
                            <ngx-material-timepicker #thursClose></ngx-material-timepicker>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">{{'timeInputForm.Friday' | translate }}</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">{{'timeInputForm.Fri' | translate }}</label>
                        </div>
                        <div class="col-4">
                            <input [ngxTimepicker]="friOpen" readonly class="form-control input " placeholder="Time"
                                formControlName="friOpen" placeholder="Closed">
                            <ngx-material-timepicker #friOpen></ngx-material-timepicker>

                        </div>
                        <div class="col-4">
                            <input [ngxTimepicker]="friClose" readonly class="form-control input " placeholder="Time"
                                formControlName="friClose" placeholder="Closed">
                            <ngx-material-timepicker #friClose></ngx-material-timepicker>

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">{{'timeInputForm.Saturday' | translate }}</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">{{'timeInputForm.Sat' | translate }}</label>
                        </div>
                        <div class="col-4">
                            <input [ngxTimepicker]="satOpen" readonly class="form-control input " placeholder="Time"
                                formControlName="satOpen" placeholder="Closed">
                            <ngx-material-timepicker #satOpen></ngx-material-timepicker>

                        </div>
                        <div class="col-4">

                            <input [ngxTimepicker]="satClose" readonly class="form-control input " placeholder="Time"
                                formControlName="satClose" placeholder="Closed">
                            <ngx-material-timepicker #satClose></ngx-material-timepicker>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">{{'timeInputForm.Sunday' | translate }}</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">{{'timeInputForm.Sun' | translate }}</label>
                        </div>
                        <div class="col-4">
                            <input [ngxTimepicker]="sunOpen" readonly class="form-control input " placeholder="Time"
                                formControlName="sunOpen" placeholder="Closed">
                            <ngx-material-timepicker #sunOpen></ngx-material-timepicker>
                        </div>
                        <div class="col-4">
                            <input [ngxTimepicker]="sunClose" readonly class="form-control input " placeholder="Time"
                                formControlName="sunClose" placeholder="Closed">
                            <ngx-material-timepicker #sunClose></ngx-material-timepicker>
                        </div>
                    </div>
                </div>
                <div class="mb-3" *ngIf="showEditOpenTimeBtn">
                    <div class="row dayRow">
                        <div class="col-6 ">
                            <button class="btn btn-primary cancelbtn"
                                (click)="editOpenTime('cancel')">{{'buttonsText.Cancel' | translate }}</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary savebtn" (click)="saveTimings()">{{'buttonsText.Save' |
                                translate }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>