.row.infoBox {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}
.col-lg-6.col-md-6.col-sm-12 {
  border-radius: 6px;
  background: #e4e4e4;
  width: 49%;
}
.camColm {
  text-align: center;
  padding-top: 183px;
  padding-bottom: 183px;
}
.camCol2{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
img.camImg2 {
  width: 100%;
  height: 366px;
}
label.labelUpload {
  margin-top: 14%;
  font-size: 18px;
}
.col-6.btnCol {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.addbtn {
  width: 16% !important;
  margin-right: 14px !important;
}
.btns {
  width: 48% !important;
  margin-right: 0px !important;
}
.formCol {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.webView {
  display: block !important;
  margin-top: 10px;
}
.mobileView {
  display: none !important;
  margin-top: 10px;
}
select.form-control.select {
  padding: 10px;
  border: none;
  height: 50px;
  background: #ffffff;
  border-radius: 6px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #000000;
}
// placeholder
::placeholder {
  color: #75758b !important;
  opacity: 1 !important;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #75758b !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #75758b !important;
}
::-webkit-input-placeholder {
  color: #75758b !important;
  opacity: 1 !important;
}
/* media query */
@media (max-width: 767px) and (min-width: 200px) {
  .col-6.columnInp,
  .col-lg-6.col-md-6.col-sm-12 {
    width: 100%;
    margin-bottom: 24px;
  }
  .mb-3 {
    margin-bottom: 0px !important;
  }
  label.labelUpload {
    margin-top: 0% !important;
    font-size: 18px;
  }
  .row.infoBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .dayRow {
    margin-bottom: 8px;
  }
  .webView {
    display: none !important;
  }
  .mobileView {
    display: block !important;
  }
  .addbtn {
    width: 39% !important;
    font-size: 18px !important;
    line-height: 16px !important;
    margin-right: 6px !important;
  }
  .camColm {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .camCol2{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  img.camImg2 {
    width: 100%;
    height: 180px;
  }
}
@media (max-width: 400px) and (min-width: 200px) {
  input.form-control.input{
    font-size: 18px;
    padding: 7px;
  }
}