<div class="container">
    <div class="row" style="margin-top: 42px;">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: end;">
            <button class="btn btn-primary cancelbtn addbtn">Add salon</button>
            <button class="btn btn-primary cancelbtn addbtn">Delete salon</button>
            <img src="assets/icons/quesmark.png" mat-button (click)="openDialog()" class="quesIcon">
        </div>
    </div>
    <div class="row" style="margin-top: 42px; background-color: #C4C4C4;">
        <div class="col-lg-12 col-md-12 col-sm-12 camColm">
            <img src="assets/icons/camera.png" class="camIcon">
        </div>
    </div>
    <div class="row p-0 infoBox">
        <div class="col-lg-6 col-md-6 col-sm-12 columnInp">
            <div class="formCol">
                <p class="texthead">Salon Details</p>
                <img src="assets/icons/edit.png" class="editIcn">
            </div>
            <form>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 columnInp ">
                            <label class="form-label label" for="passwordInput">Address</label>
                            <input type="text" placeholder="Enter address" class="form-control input ">

                        </div>
                        <div class="col-6 columnInp">
                            <label class="form-label label" for="repeatPassword">Work Phone Number</label>
                            <input type="text" placeholder="Enter Phone number" class="form-control input ">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 columnInp ">
                            <label class="form-label label" for="passwordInput">City</label>
                            <input type="text" placeholder="Enter city" class="form-control input ">

                        </div>
                        <div class="col-6 columnInp">
                            <label class="form-label label" for="repeatPassword">Salon name </label>
                            <input type="text" placeholder="Enter Salon name" class="form-control input ">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 columnInp ">
                            <label class="form-label label" for="passwordInput">Country</label>
                            <input type="text" placeholder="Enter Country" class="form-control input ">

                        </div>
                        <div class="col-6 columnInp">
                            <label for="myfile" class="labelUpload">Upload Banner</label>
                            <input type="file" id="myfile" name="myfile" style="display:none;">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 columnInp ">
                            <label class="form-label label" for="passwordInput">Zipcode</label>
                            <input type="text" placeholder="Enter Zipcode" class="form-control input ">

                        </div>
                        <div class="col-6 columnInp">
                            <label for="myfile" class="labelUpload">Upload Logo</label>
                            <input type="file" id="myfile" name="myfile" style="display:none;">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 columnInp ">
                            <label class="form-label label" for="passwordInput">Currency</label>
                            <input type="text" placeholder="Default" class="form-control input ">

                        </div>
                        <div class="col-6 columnInp btnCol">
                            <button class="btn btn-primary cancelbtn btns">Cancel</button>
                            <button class="btn btn-primary savebtn btns">Save</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 columnInp">
            <div class="formCol">
                <p class="texthead">Opening Times</p>
                <img src="assets/icons/edit.png" class="editIcn">
            </div>
            <form>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-4 ">
                            <h3 class="colHeadTime">Day</h3>

                        </div>
                        <div class="col-4">
                            <h3 class="colHeadTime">Opening</h3>

                        </div>
                        <div class="col-4">
                            <h3 class="colHeadTime">Closing</h3>

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Monday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Mon</label>
                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Tuesday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Tue</label>

                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Wednesday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Wed</label>

                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Thursday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Thur</label>
                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Friday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Fri</label>
                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Saturday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Sat</label>
                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Sunday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Sun</label>
                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter" class="form-control input ">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-6 ">
                            <button class="btn btn-primary cancelbtn">Cancel</button>

                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary savebtn">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
