<div class="container">
    <div class="row" style="margin-top: 42px;">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: end;">
            <button class="btn btn-primary cancelbtn addbtn">Add salon</button>
            <button class="btn btn-primary cancelbtn addbtn">Delete salon</button>
            <img src="assets/icons/quesmark.png" mat-button (click)="openDialog()" class="quesIcon">
        </div>
    </div>
    <div class="row p-0 infoBox" *ngIf="showWizard">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="staffBox">
                <div class="row imgRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <h2 class="textH2">Step Two</h2>
                        <img src="assets/icons/closeGrey.png" class="closeIcon" (click)="finishWizard()">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                        <ul>
                            <li>Click on the salon page</li>
                            <li>Fill out both forms</li>
                            <li>If you get stuck, click on the question mark for help</li>
                        </ul>
                    </div>
                    <div class="stepDiv">
                        <div class="steps">
                            <span class="stepSpan">1</span>
                            <span class="stepSpan" style="background:#5E5CE6; color:#FFFFFF;">2</span>
                            <span class="stepSpan">3</span>
                            <span class="stepSpan">4</span>
                        </div>
                        <button class="btn btn-primary savebtn" (click)="nextWizard()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 42px; background-color: #C4C4C4;">
        <!-- <div class="col-lg-12 col-md-12 col-sm-12 camColm">
            <img src="assets/icons/camera.png" class="camIcon">
        </div> -->
        <div class="col-lg-12 col-md-12 col-sm-12 camColm">
            <label for="uploadData" class="browse newImgBrw">
                <img *ngIf="!imageUrl" src="assets/icons/camera.png" class="camIcon">
                <img *ngIf="imageUrl" [src]="imageUrl" class="camImg2">
            </label>
            <input id="uploadData" type="file" style="display: none;" #Image (change)="uploadImg($event)"
                accept="image/png, image/gif, image/jpeg">
            
            
        </div>
    </div>
    <div class="row p-0 infoBox">
        <div class="col-lg-6 col-md-6 col-sm-12 columnInp">
            <div class="formCol">
                <p class="texthead">Salon Details</p>
                <img src="assets/icons/edit.png" class="editIcn" (click)="editSalonDetail('edit')">
            </div>
            <form [formGroup]="salonDetailForm" autocomplete="off">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 columnInp ">
                            <label class="form-label label" for="passwordInput">Address</label>
                            <input type="text" placeholder="Enter Address" class="form-control input "
                                formControlName="address"
                                [class.is-invalid]="address.invalid && (address.dirty || address.touched)"
                                maxlength="300">
                            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="invalid-feedback">
                                <div *ngIf="address.errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="address.errors?.['maxlength']">
                                    Please add maximum 300 charaters
                                </div>
                            </div>

                        </div>
                        <div class="col-6 columnInp">
                            <label class="form-label label" for="repeatPassword">Work Phone Number</label>
                            <input type="text" placeholder="Enter Phone Number" class="form-control input "
                                formControlName="phoneNo"
                                [class.is-invalid]="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)"
                                minlength="10" maxlength="10">
                            <div *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)" class="invalid-feedback">
                                <div *ngIf="phoneNo.errors?.['required']">
                                    This field is required.
                                </div>
                                <div
                                    *ngIf="phoneNo.errors?.['maxlength'] || phoneNo.errors?.['minlength'] || phoneNo.errors?.['pattern']">
                                    Please add valid phone number
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 columnInp ">
                            <label class="form-label label" for="passwordInput">City</label>
                            <input type="text" placeholder="Enter City" class="form-control input "
                                formControlName="city" [class.is-invalid]="city.invalid && (city.dirty || city.touched)"
                                maxlength="30">
                            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="invalid-feedback">
                                <div *ngIf="city.errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="city.errors?.['maxlength']">
                                    Please add maximum 30 charaters
                                </div>
                                <div *ngIf="city.errors?.['pattern']">
                                    Please add valid city
                                </div>
                            </div>

                        </div>
                        <div class="col-6 columnInp">
                            <label class="form-label label" for="repeatPassword">Salon name </label>
                            <input type="text" placeholder="Enter Salon name" class="form-control input "
                                formControlName="salonName"
                                [class.is-invalid]="salonName.invalid && (salonName.dirty || salonName.touched)"
                                maxlength="60" minlength="2">
                            <div *ngIf="salonName.invalid && (salonName.dirty || salonName.touched)"
                                class="invalid-feedback">
                                <div *ngIf="salonName.errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="salonName.errors?.['maxlength'] || salonName.errors?.['minlength']">
                                    Please add atleast 2 and max 60 characters
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 columnInp ">
                            <label class="form-label label" for="passwordInput">Country</label>
                            <input type="text" placeholder="Enter Country" class="form-control input "
                                formControlName="country"
                                [class.is-invalid]="country.invalid && (country.dirty || country.touched)"
                                maxlength="30">
                            <div *ngIf="country.invalid && (country.dirty || country.touched)" class="invalid-feedback">
                                <div *ngIf="country.errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="country.errors?.['maxlength']">
                                    Please add maximum 30 charaters
                                </div>
                                <div *ngIf="country.errors?.['pattern']">
                                    Please add valid country
                                </div>
                            </div>

                        </div>
                        <div class="col-6 columnInp" *ngIf="showEditSalonBtn">
                            <label for="myfile" class="labelUpload">Upload Banner</label>
                            <input type="file" id="myfile" name="myfile" style="display:none;">

                        </div>
                        <div class="col-6 columnInp" *ngIf="!showEditSalonBtn">
                            <label for="myfile" class="labelUpload">Upload Banner</label>
                            <input type="file" id="myfile" disabled name="myfile" style="display:none;">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 columnInp ">
                            <label class="form-label label" for="passwordInput">Zipcode</label>
                            <input type="text" placeholder="Enter Zipcode" class="form-control input "
                                formControlName="zipCode"
                                [class.is-invalid]="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
                                maxlength="15">
                            <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)" class="invalid-feedback">
                                <div *ngIf="zipCode.errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="zipCode.errors?.['maxlength']">
                                    Please add maximum 15 charaters
                                </div>
                                <div *ngIf="zipCode.errors?.['pattern']">
                                    Please add valid zip code
                                </div>
                            </div>

                        </div>
                        <div class="col-6 columnInp" *ngIf="showEditSalonBtn">
                            <label for="myfile" class="labelUpload">Upload Logo</label>
                            <input type="file" id="myfile" name="myfile" style="display:none;">

                        </div>
                        <div class="col-6 columnInp" *ngIf="!showEditSalonBtn">
                            <label for="myfile" class="labelUpload">Upload Logo</label>
                            <input type="file" id="myfile" disabled name="myfile" style="display:none;">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 columnInp ">
                            <label class="form-label label" for="passwordInput">Currency</label>
                            <select class="form-control select" formControlName="currency"
                            [class.is-invalid]="currency.invalid && (currency.dirty || currency.touched)">
                        <option value="">Default</option>
                        <option value="Default1">Default1</option>
                    </select>
                            <div *ngIf="currency.invalid && (currency.dirty || currency.touched)"
                                class="invalid-feedback">
                                <div *ngIf="currency.errors?.['required']">
                                    This field is required.
                                </div>
                            </div>

                        </div>
                        <div class="col-6 columnInp btnCol" *ngIf="showEditSalonBtn">
                            <button class="btn btn-primary cancelbtn btns"
                                (click)="editSalonDetail('cancel')">Cancel</button>
                            <button class="btn btn-primary savebtn btns" (click)="saveSalonDetails()">Save</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 columnInp">
            <div class="formCol">
                <p class="texthead">Opening Times</p>
                <img src="assets/icons/edit.png" class="editIcn" (click)="editOpenTime('edit')">
            </div>
            <form [formGroup]="openingTimeForm" autocomplete="off">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-4 ">
                            <h3 class="colHeadTime">Day</h3>

                        </div>
                        <div class="col-4">
                            <h3 class="colHeadTime">Opening</h3>

                        </div>
                        <div class="col-4">
                            <h3 class="colHeadTime">Closing</h3>

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Monday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Mon</label>
                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')" onblur="(this.type='text')" placeholder="Closed" class="form-control input " formControlName="monOpen"
                                >
                            <!-- <div *ngIf="monOpen.invalid && (monOpen.dirty || monOpen.touched)" class="invalid-feedback">
                                <div *ngIf="monOpen.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')" onblur="(this.type='text')" placeholder="Closed" class="form-control input "
                                formControlName="monClose"
                                >
                            <!-- <div *ngIf="monClose.invalid && (monClose.dirty || monClose.touched)"
                                class="invalid-feedback">
                                <div *ngIf="monClose.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Tuesday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Tue</label>

                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')"  onblur="(this.type='text')" placeholder="Closed" class="form-control input "
                                formControlName="tuesOpen">
                            <!-- <div *ngIf="tuesOpen.invalid && (tuesOpen.dirty || tuesOpen.touched)"
                                class="invalid-feedback">
                                <div *ngIf="tuesOpen.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')"  onblur="(this.type='text')" placeholder="Closed" class="form-control input "
                                formControlName="tuesClose">
                            <!-- <div *ngIf="tuesClose.invalid && (tuesClose.dirty || tuesClose.touched)"
                                class="invalid-feedback">
                                <div *ngIf="tuesClose.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Wednesday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Wed</label>

                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')"  onblur="(this.type='text')" placeholder="Closed" class="form-control input " formControlName="wedOpen"
                                >
                            <!-- <div *ngIf="wedOpen.invalid && (wedOpen.dirty || wedOpen.touched)" class="invalid-feedback">
                                <div *ngIf="wedOpen.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')"  onblur="(this.type='text')" placeholder="Closed" class="form-control input "
                                formControlName="wedClose">
                            <!-- <div *ngIf="wedClose.invalid && (wedClose.dirty || wedClose.touched)"
                                class="invalid-feedback">
                                <div *ngIf="wedClose.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Thursday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Thur</label>
                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')"  onblur="(this.type='text')" placeholder="Closed" class="form-control input "
                                formControlName="thursOpen">
                            <!-- <div *ngIf="thursOpen.invalid && (thursOpen.dirty || thursOpen.touched)"
                                class="invalid-feedback">
                                <div *ngIf="thursOpen.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')"  onblur="(this.type='text')" placeholder="Closed" class="form-control input "
                                formControlName="thursClose">
                            <!-- <div *ngIf="thursClose.invalid && (thursClose.dirty || thursClose.touched)"
                                class="invalid-feedback">
                                <div *ngIf="thursClose.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Friday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Fri</label>
                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')"  onblur="(this.type='text')" placeholder="Closed" class="form-control input " formControlName="friOpen"
                             >
                            <!-- <div *ngIf="friOpen.invalid && (friOpen.dirty || friOpen.touched)" class="invalid-feedback">
                                <div *ngIf="friOpen.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')"  onblur="(this.type='text')" placeholder="Closed" class="form-control input "
                                formControlName="friClose">
                            <!-- <div *ngIf="friClose.invalid && (friClose.dirty || friClose.touched)"
                                class="invalid-feedback">
                                <div *ngIf="friClose.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Saturday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Sat</label>
                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')"  onblur="(this.type='text')" placeholder="Closed" class="form-control input " formControlName="satOpen"
                                >
                            <!-- <div *ngIf="satOpen.invalid && (satOpen.dirty || satOpen.touched)" class="invalid-feedback">
                                <div *ngIf="satOpen.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')"  onblur="(this.type='text')" placeholder="Closed" class="form-control input "
                                formControlName="satClose">
                            <!-- <div *ngIf="satClose.invalid && (satClose.dirty || satClose.touched)"
                                class="invalid-feedback">
                                <div *ngIf="satClose.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row dayRow">
                        <div class="col-4 ">
                            <label class="form-label label daysLabel webView" for="passwordInput">Sunday</label>
                            <label class="form-label label daysLabel mobileView" for="passwordInput">Sun</label>
                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')"  onblur="(this.type='text')" placeholder="Closed" class="form-control input " formControlName="sunOpen"
                                >
                            <!-- <div *ngIf="sunOpen.invalid && (sunOpen.dirty || sunOpen.touched)" class="invalid-feedback">
                                <div *ngIf="sunOpen.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                        <div class="col-4">
                            <input  type="text"
        onfocus="(this.type='time')"  onblur="(this.type='text')" placeholder="Closed" class="form-control input "
                                formControlName="sunClose">
                            <!-- <div *ngIf="sunClose.invalid && (sunClose.dirty || sunClose.touched)"
                                class="invalid-feedback">
                                <div *ngIf="sunClose.errors?.['required']">
                                    This field is required.
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
                <div class="mb-3" *ngIf="showEditOpenTimeBtn">
                    <div class="row dayRow">
                        <div class="col-6 ">
                            <button class="btn btn-primary cancelbtn" (click)="editOpenTime('cancel')">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary savebtn" (click)="saveTimings()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>