<section>
    <div class="listItem">
        <div class="userProfile">
            <img src="assets/images/Profile.png">
        </div>
        <div class="box" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <p class="text">Dashboard</p>
            <img src="assets/icons/dashboard.png" class="icon">
        </div>
        <div class="box" routerLink="/salon-page" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
            <p class="text">Salon</p>
            <img src="assets/icons/salon.png" class="icon">
        </div>
        <div class="box" routerLink="/staff" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
            <p class="text">Staff</p>
            <img src="assets/icons/staff.png" class="icon">
        </div>
        <div class="box" routerLink="/positions" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
            <p class="text">Positions</p>
            <img src="assets/icons/position.png" class="icon">
        </div>
        <div class="box" routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
            <p class="text">Calendar</p>
            <img src="assets/icons/calender.png" class="icon">
        </div>
        <div class="box" routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
            <p class="text">Bookings</p>
            <img src="assets/icons/booking.png" class="icon">
        </div>
        <div class="box" routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
            <p class="text">Notifications</p>
            <img src="assets/icons/notification.png" class="icon">
        </div>
        <hr style="border: 1px solid #312F2F;margin-left:-10px;margin-right:-10px;">
        <div class="box" routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
            <p class="text">Website</p>
            <img src="assets/icons/website.png" class="icon">
        </div>
        <div class="box" routerLink="/company-Info" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
            <p class="text">Company Info</p>
            <img src="assets/icons/companyInfo.png" class="icon">
        </div>
        <div class="box" routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
            <p class="text">Setup Wizard</p>
            <img src="assets/icons/setupWizard.png" class="icon">
        </div>
    </div>
</section>