<section>
    <div class="listItem">
        <div class="userProfile">
            <img src="assets/images/Profile.png">
        </div>
        <div class="box" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            #dashboard="routerLinkActive" (click)="removeWizard()" >
            <p class="text">Dashboard</p>
            <img [src]="dashboard.isActive ? 'assets/icons/dashboardHover.png' : 'assets/icons/dashboard.png'"
                class="icon">
        </div>
        <div class="box" routerLink="/salon-page" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            #salonPage="routerLinkActive" (click)="removeWizard()">
            <p class="text">Salon</p>
            <img
                [src]="salonPage.isActive ? 'assets/icons/salonHover.png' : 'assets/icons/salon.png'"
                class="icon">
        </div>
        <div class="box" routerLink="/staff" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            #staff="routerLinkActive" (click)="removeWizard()">
            <p class="text">Staff</p>
            <img 
                [src]="staff.isActive ? 'assets/icons/staffHover.png' : 'assets/icons/staff.png'"
                class="icon">
        </div>
        <div class="box" routerLink="/positions" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            #positions="routerLinkActive" (click)="removeWizard()">
            <p class="text">Positions</p>
            <img 
                [src]="positions.isActive ? 'assets/icons/positionHover.png' : 'assets/icons/position.png'"
                class="icon">
        </div>
        <div class="box" routerLink="/calendar" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            #calender="routerLinkActive" (click)="removeWizard()">
            <p class="text">Calendar</p>
            <img src="assets/icons/calender.png"
                [src]="calender.isActive ? 'assets/icons/calendarHover.png' : 'assets/icons/calender.png'"
                class="icon">
        </div>
        <div class="box" routerLink="/bookings" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            #bookings="routerLinkActive" (click)="removeWizard()">
            <p class="text">Bookings</p>
            <img 
                [src]="bookings.isActive ? 'assets/icons/bookingHover.png' : 'assets/icons/booking.png'"
                class="icon">
        </div>
        <div class="box" routerLink="/notifications" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            #notifications="routerLinkActive" (click)="removeWizard()">
            <p class="text">Notifications</p>
            <img 
                [src]="notifications.isActive ? 'assets/icons/notificationHover.png' : 'assets/icons/notification.png'"
                class="icon">
        </div>
        <hr style="border: 1px solid #312F2F;margin-left:-10px;margin-right:-10px;">
        <div class="box" (click)="openWebsite()">
            <p class="text">Website</p>
            <img src="assets/icons/website.png"
              
                class="icon">
        </div>
        <div class="box" routerLink="/company-Info" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            #companyInfo="routerLinkActive" (click)="removeWizard()">
            <p class="text">Company Info</p>
            <img
                [src]="companyInfo.isActive ? 'assets/icons/companyInfoHover.png' : 'assets/icons/companyInfo.png'"
                class="icon">
        </div>
        <div class="box" routerLink="/wizard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" 
        #wizardInfo="routerLinkActive" (click)="removeWizard()">
            <p class="text">Setup Wizard</p>
            <img style="width: 25px;height: 25px;" [src]="wizardInfo.isActive ? 'assets/icons/setupWizardHover.png' : 'assets/icons/setupWizard.png'" 
                class="icon">
        </div>
    </div>
</section>