button.btn.btn-primary.savebtn.addPosBtn, button.btn.btn-primary.cancelbtn.changeBtn {
  width: 22%;
  margin-right: 14px;
}
img.leftArr {
  margin-right: 10px;
}
img.rightArr {
  margin-left: 10px;
}
.calendarDiv {
  margin-top: 48px;
}
