button.btn.btn-primary.savebtn.addPosBtn,
button.btn.btn-primary.cancelbtn.changeBtn {
  width: 22%;
  margin-right: 14px;
}
img.leftArr {
  margin-right: 10px;
}
img.rightArr {
  margin-left: 10px;
}
.calendarDiv {
  margin-top: 48px;
}
.btns {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 6px;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
}
// media query
@media (max-width: 1000px) and (min-width: 531px) {
  button.btn.btn-primary.savebtn.addPosBtn {
    width: 38%;
  }
}
@media (max-width: 577px) and (min-width: 200px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  button.btn.btn-primary.savebtn.addPosBtn {
    font-size: 18px;
  }
  p.name {
    margin-bottom: 0px;
  }
}
@media (max-width: 531px) and (min-width: 200px) {
  .col-lg-12.col-md-12.col-sm-12.topbtncol {
    display: flex;
    flex-direction: column;
  }
  button.btn.btn-primary.savebtn.addPosBtn {
    font-size: 18px;
    width: 307px;
    margin-bottom: 21px;
  }
  
}





p.name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.25px;
  color: #000000;
}
thead{
  text-align: center;
}
tr {
  border-style: none !important; 
  border-width: 0;
  border-color: #fff;
  height: 176px;
}
td.time {
  text-align: end;
  width: 10%;
}
td.bookingbox {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px;
}
.divBox{
  background: #C4C6CE;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
p.name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: #000000;
}







