<div class="container">
  <div class="row" style="margin-top: 48px;">
    <div class="col-lg-12 col-md-12 col-sm-12 topbtncol">
      <button class="btn btn-primary savebtn addPosBtn" mat-button (click)="openDialog('addAppointment')">Add
        Appointment</button>
      <!-- <button class="btn btn-primary cancelbtn changeBtn">
                <img src="assets/icons/leftArr.png" class="leftArr">Change Date
                <img src="assets/icons/rightArr.png" class="rightArr"></button> -->
      <div class="btns">
        <img src="assets/icons/leftArr.png" class="leftArr" (click)="backDate()">
        <ngx-datepicker [(ngModel)]="date" [options]="options"></ngx-datepicker>
        <img src="assets/icons/rightArr.png" class="rightArr" (click)="nextDate()">
      </div>
      <img src="assets/icons/quesmark.png" class="quesIcon" mat-button (click)="openDialog('calendar')">
    </div>
  </div>
  <!-- <div class="calendarDiv">
        <full-calendar
        [options]='calendarOptions'
      ></full-calendar>
    </div> -->
  <!-- <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="calendarDiv">
        <table class="table">
          <thead>
            <th></th>
            <th class="thHead">
              <img src="assets/images/th1.png">
              <p class="theadP">Marlie Simpson</p>
            </th>
            <th class="thHead">
              <img src="assets/images/th2.png">
              <p class="theadP">Ryan Weekes</p>
            </th>
            <th class="thHead">
              <img src="assets/images/th3.png">
              <p class="theadP">Mary Nunes</p>
            </th>
          </thead>
          <tbody>
            <tr>
              <td class="time">9:00 am</td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
              <td class="bookingbox">
                <div>
                 
                </div>
              </td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="time">9:15 am</td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
              <td class="bookingbox">
                <div>
                 
                </div>
              </td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="time">9:30 am</td>
              <td class="bookingbox">
             
              </td>
              <td class="bookingbox">
                <div>
                 
                </div>
              </td>
              <td class="bookingbox">
              
              </td>
            </tr>
            <tr>
              <td class="time">9:45 am</td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
              <td class="bookingbox">
                <div>
                 
                </div>
              </td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="time">10:00 am</td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
              <td class="bookingbox">
                <div>
                 
                </div>
              </td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="time">10:15 am</td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
              <td class="bookingbox">
                <div>
                 
                </div>
              </td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
            </tr> 
            <tr>
              <td class="time">10:30 am</td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
              <td class="bookingbox">
                <div>
                 
                </div>
              </td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="time">10:45 am</td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
              <td class="bookingbox">
                <div>
                 
                </div>
              </td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="time">11:00 am</td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
              <td class="bookingbox">
                <div>
                 
                </div>
              </td>
              <td class="bookingbox">
                <div>
                  <p class="name">Michael Jones</p>
                  <p class="name">9:00am-9:30am</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->


  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="calendarDiv">
        <table class="table">
          <thead>
            <th></th>
            <th class="thHead">
              <img src="assets/images/th1.png">
              <p class="theadP">Marlie Simpson</p>
            </th>
            <th class="thHead">
              <img src="assets/images/th2.png">
              <p class="theadP">Ryan Weekes</p>
            </th>
            <th class="thHead">
              <img src="assets/images/th3.png">
              <p class="theadP">Mary Nunes</p>
            </th>
          </thead>
          <tbody>
            <tr>
              <td class="time">9:00 am</td>
              <td class="bookingbox">
                <div class="divBox" style="height: 88px;">
                  <div>
                    <p class="name">Michael Jones</p>
                    <p class="name">9:00am-9:30am</p>
                  </div>
                  <img src="assets/images/th1.png">
                </div>
              </td>
              <td class="bookingbox">
                <div class="divBox" style="height: 132px; margin-top: 44px;">
                  <div>
                    <p class="name">Michael Jones</p>
                    <p class="name">9:15am-10:00am</p>
                  </div>
                  <img src="assets/images/th1.png">
                </div>
              </td>
              <td class="bookingbox">
                <div class="divBox" style="height: 88px;">
                  <div>
                    <p class="name">Michael Jones</p>
                    <p class="name">9:00am-9:30am</p>
                  </div>
                  <img src="assets/images/th1.png">
                </div>
                
              </td>
            </tr>
            <tr>
              <td class="time">10:00 am</td>
              <td class="bookingbox">
                <div class="divBox" style="height: 88px;">
                  <div>
                    <p class="name">Michael Jones</p>
                    <p class="name">10:00am-10:30am</p>
                  </div>
                  <img src="assets/images/th1.png">
                </div>
              </td>
              <td class="bookingbox">
                <div class="divBox" style="height: 88px; margin-top: 44px;margin-bottom: 44px;">
                  <div>
                    <p class="name">Michael Jones</p>
                    <p class="name">10:15am-10:45am</p>
                  </div>
                  <img src="assets/images/th1.png">
                </div>
              </td>
              <td class="bookingbox">
                <div class="divBox" style="height: 176px;">
                  <div>
                    <p class="name">Michael Jones</p>
                    <p class="name">10:00am-11:00am</p>
                  </div>
                  <img src="assets/images/th1.png">
                </div>
                
              </td>
            </tr>
            <tr>
              <td class="time">11:00 am</td>
              <td class="bookingbox">
                <div class="divBox" style="height: 132px;">
                  <div>
                    <p class="name">Michael Jones</p>
                    <p class="name">11:00am-11:45am</p>
                  </div>
                  <img src="assets/images/th1.png">
                </div>
              </td>
              <td class="bookingbox">
                <div class="divBox" style="height: 132px; margin-top: 44px;">
                  <div>
                    <p class="name">Michael Jones</p>
                    <p class="name">11:15am-12:00pm</p>
                  </div>
                  <img src="assets/images/th1.png">
                </div>
              </td>
              <td class="bookingbox">
                <div class="divBox" style="height: 132px;">
                  <div>
                    <p class="name">Michael Jones</p>
                    <p class="name">11:00am-11:30am</p>
                  </div>
                  <img src="assets/images/th1.png">
                </div>
              </td>
            </tr>
            <tr>
              <td class="time">12:00 am</td>
              <td class="bookingbox">
                <div class="divBox" style="height: 88px;">
                  <div>
                    <p class="name">Michael Jones</p>
                    <p class="name">12:00pm-12:30pm</p>
                  </div>
                  <img src="assets/images/th1.png">
                </div>
              </td>
              <td class="bookingbox">
                <div class="divBox" style="height: 88px; margin-top: 44px;margin-bottom: 44px;">
                  <div>
                    <p class="name">Michael Jones</p>
                    <p class="name">12:15pm-12:45pm</p>
                  </div>
                  <img src="assets/images/th1.png">
                </div>
              </td>
              <td class="bookingbox">
                <div class="divBox" style="height: 176px;">
                  <div>
                    <p class="name">Michael Jones</p>
                    <p class="name">12:00pm-1:00pm</p>
                  </div>
                  <img src="assets/images/th1.png">
                </div>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>