button.btn.btn-primary.savebtn.addPosBtn {
  width: 16%;
  margin-right: 14px;
}
input.email {
  box-sizing: border-box;
  background-color: #e4e4e4;
  border: 1px solid rgba(255, 255, 255, 1) !important;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: black;
  padding-right: 0%;
  height: 54px;
  margin-right: -4%;
}
button.btn.btn-primary.sendbtn {
  width: 81px;
  height: 52px;
  background: #3066be;
  border-radius: 12px;
  margin-top: 1px;
  border: 5px solid #e4e4e4;
}
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -9px !important;
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
}
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}
.form-control.is-invalid:focus,.form-control:focus{
  box-shadow: none !important;
  z-index: 0 !important;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;
}
.col-lg-4.col-md-4.col-sm-12.topbtncol {
  display: flex;
  margin-top: 4%;
  align-items: flex-start;
}
.imgCol,
.imgCol2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.imgCol2 {
  flex-direction: row-reverse;
}
img.quesIcon {
  width: 30px;
  height: 30px;
}
img.editIcon {
  margin-right: 15px;
}
.staffBox {
  background: #e4e4e4;
  border-radius: 6px;
  padding: 10px;
}
.col-lg-12.col-md-12.col-sm-12.profileCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21px;
}
h2.nameH {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: #000000;
}
// select.form-control.select,
.addtoCalDiv {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.41px;
  color: #000000;
  height: 50px;
  margin-bottom: 10px;
}
.selectDrop,
select:disabled {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  // width: min-content;
  padding: 0px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.41px;
  border: none;
  color: #000000 !important;
  background-color: rgba(255, 255, 255, 1) !important;
  width: 90px;
}
// select:focus,select:valid {
//   min-width: 90px;
//   // width: auto;
// }


.addtoCalDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.col-lg-12.col-md-12.col-sm-12.editdetailCol {
  margin-top: 20px;
}
.editBtnsDiv {
  display: flex;
  justify-content: space-between;
}
button.btn.btn-primary.cancelbtn,
button.btn.btn-primary.savebtn {
  width: 48%;
  border: none;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: rgba(255, 255, 255, 1) !important;
  opacity: 1;
}
.clicked {
  transform: rotate(180deg);
}
.breakArr {
  width: 10px;
  height: 7px;
  margin-right: 25%;
  margin-left: -13%;
}
.datepicker-default .calendar-container {
  left: 0px !important;
}
/* media query */
@media (max-width: 767px) and (min-width: 200px) {
  button.btn.btn-primary.savebtn.addPosBtn {
    width: 47%;
  }
  .col-lg-4.col-md-4.col-sm-12.topbtncol.emailCol {
    margin-bottom: 5%;
  }
}
