<div class="container">
    <div class="row" style="margin-top: 48px;">
        <div class="col-lg-12 col-md-12 col-sm-12 topbtncol">
            <button class="btn btn-primary savebtn addPosBtn" (click)="showStepsFunction('One')">Add Staff</button>
            <img src="assets/icons/quesmark.svg" class="quesIcon" mat-button (click)="openDialog('Staff1')">
        </div>
    </div>
    <div class="row p-0 infoBox" *ngIf="showWizard" style="margin-bottom: 25px;margin-top: 15px;">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="staffBox">
                <div class="row imgRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <h2 class="textH2">Step Four</h2>
                        <img src="assets/icons/closeGrey.svg" class="closeIcon" (click)="finishWizard('cross')">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                        <ul>
                            <li>Click add staff</li>
                            <li>In the box, click the pencil to edit</li>
                            <li>Fill out the form</li>
                            <li>If you get stuck, click on the question mark for help at anytime</li>
                        </ul>
                    </div>
                    <div class="stepDiv">
                        <div class="steps">
                            <span class="stepSpan">1</span>
                            <span class="stepSpan">2</span>
                            <span class="stepSpan">3</span>
                            <span class="stepSpan"
                                style="background: #5e5ce6 !important; color:#FFFFFF !important;">4</span>
                        </div>
                        <button class="btn btn-primary savebtn" (click)="finishWizard('finish')">Finish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 infoBox" *ngIf="showStep == 'One'" style="margin-top: 15px;">
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol emailCol">
            <form [formGroup]="infoForm" autocomplete="off">
                <div class="input-group mb-3">
                    <input type="text" formControlName="employeeEmail"
                        [class.is-invalid]="employeeEmail.invalid && (employeeEmail.dirty || employeeEmail.touched)"
                        minlength="6" maxlength="60" class="form-control email" placeholder="Enter employee email"
                        aria-describedby="button-addon2">
                    <button class="btn btn-primary sendbtn" type="button" id="button-addon2"
                        (click)="showStepsFunction('Two')">Send</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row p-0 infoBox" *ngIf="showStep == 'Two'"  style="margin-top: 15px;">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="staffBox">
                <div class="row imgRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol" *ngIf="!details">
                        <div class="editCloseDiv">
                            <!-- <img src="assets/icons/editWhite.svg" class="editIcon" (click)="editDetailsFun(true)"> -->
                            <img src="assets/icons/edit.svg" class="editIcon" (click)="editDetailsFun(true)" style="width: 30px; height: 30px;">
                            <img src="assets/icons/closeIcon.svg" class="closeIcon" (click)="close()">
                        </div>
                        <img src="assets/icons/quesmark.svg" class="quesIcon" mat-button (click)="openDialog('Staff2')">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol2" *ngIf="details">
                        <div class="editCloseDiv">
                            <!-- <img src="assets/icons/editWhite.svg" class="editIcon" (click)="editDetailsFun(true)"> -->
                            <img src="assets/icons/edit.svg" class="editIcon" (click)="editDetailsFun(true)" style="width: 30px; height: 30px;">
                            <img src="assets/icons/closeIcon.svg" class="closeIcon" (click)="close()">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                        <img src="assets/icons/userIcon.svg" class="userIcon">
                        <h2 class="nameH">Name</h2>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 detailOptCol" style="cursor: pointer;"
                        (click)="showDetails()">
                        <div class="form-control addtoCalDiv">
                                    <span class="labelSpan">Details</span>
                                    <mat-icon [ngClass]="{'clicked': details}">keyboard_arrow_down</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="row imgRow" *ngIf="details">
                    <div class="col-lg-12 col-md-12 col-sm-12 editdetailCol">
                        <form [formGroup]="detailsForm" autocomplete="off">
                            <div class="form-control addtoCalDiv posSelect">
                                <select #selectPos id="PosSelect" class="selectDrop" formControlName="position"
                                    (change)="adjustWidth(selectPos.value)">
                                    <option disabled selected hidden value="">Position</option>
                                    <option value="Salon worker">Salon worker</option>
                                    <option value="Head barber">Head barber</option>
                                </select>
                            </div>

                            <div class="form-control addtoCalDiv">
                                <input (click)="datepickerFrom.open()" matInput placeholder="Break From" [matDatepicker]="datepickerFrom" formControlName="breakFrom"  matDatepickerToggleIcon class="inputMat">
                                <mat-datepicker-toggle matIconSuffix [for]="datepickerFrom">
                                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker touchUi="true"  #datepickerFrom></mat-datepicker>
                            </div>
                            <div class="form-control addtoCalDiv">
                                <input (click)="datepickerTo.open()" matInput placeholder="Break To"  [matDatepicker]="datepickerTo" formControlName="breakTo"  matDatepickerToggleIcon class="inputMat b">
                                <mat-datepicker-toggle matIconSuffix [for]="datepickerTo">
                                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker touchUi="true"  #datepickerTo></mat-datepicker>
                            </div>

                            <div class="form-control addtoCalDiv" mat-button (click)="openDialog('Staff3')"> <span
                                    class="labelSpan">Employee Details</span>
                            </div>
                        </form>
                        <div class="editBtnsDiv" *ngIf="editDetails">
                            <button class="btn btn-primary cancelbtn" (click)="editDetailsFun(false)">Cancel</button>
                            <button class="btn btn-primary savebtn" (click)="detailsSaved()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-4 col-sm-12 topbtncol"></div>
            <div class="col-lg-4 col-md-4 col-sm-12 topbtncol">
            </div>
        </div>
    </div>