<div class="container">
    <div class="row" style="margin-top: 48px;">
        <!-- <div class="col-lg-4 col-md-4 col-sm-12 topbtncol"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol"></div> -->
        <div class="col-lg-12 col-md-12 col-sm-12 topbtncol">
            <button class="btn btn-primary savebtn addPosBtn" (click)="showStepsFunction('One')">Add Staff</button>
            <img src="assets/icons/quesmark.png" class="quesIcon" mat-button (click)="openDialog('Staff1')">
        </div>
        <!-- <div class="col-lg-4 col-md-4 col-sm-12 topbtncol buttnCol">
            <button class="btn btn-primary savebtn addPosBtn" (click)="showStepsFunction('One')">Add Staff</button>
            <img src="assets/icons/quesmark.png" class="quesIcon" mat-button (click)="openDialog('Staff1')">
        </div> -->
    </div>
    <div class="row p-0 infoBox" *ngIf="showWizard" style="margin-bottom: 25px;">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="staffBox">
                <div class="row imgRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <h2 class="textH2">Step Four</h2>
                        <img src="assets/icons/closeGrey.png" class="closeIcon" (click)="finishWizard('cross')">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                        <ul>
                            <li>Click add staff</li>
                            <li>In the box, click the pencil to edit</li>
                            <li>Fill out the form</li>
                            <li>If you get stuck, click on the question mark for help at anytime</li>
                        </ul>
                    </div>
                    <div class="stepDiv">
                        <div class="steps">
                            <span class="stepSpan">1</span>
                            <span class="stepSpan">2</span>
                            <span class="stepSpan">3</span>
                            <span class="stepSpan"
                                style="background: #5e5ce6 !important; color:#FFFFFF !important;">4</span>
                        </div>
                        <button class="btn btn-primary savebtn" (click)="finishWizard('finish')">Finish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 infoBox" *ngIf="showStep == 'One'">
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol emailCol">
            <form [formGroup]="infoForm" autocomplete="off">
                <div class="input-group mb-3">
                    <input type="text" formControlName="employeeEmail"
                        [class.is-invalid]="employeeEmail.invalid && (employeeEmail.dirty || employeeEmail.touched)"
                        minlength="6" maxlength="60" class="form-control email" placeholder="Enter employee email"
                        aria-describedby="button-addon2">
                    <button class="btn btn-primary sendbtn" type="button" id="button-addon2"
                        (click)="showStepsFunction('Two')">Send</button>
                        <!-- <div *ngIf="employeeEmail.invalid && (employeeEmail.dirty || employeeEmail.touched)"
                        class="invalid-feedback">
                        <div *ngIf="employeeEmail.errors?.['required']">
                            This field is required.
                        </div>
                        <div
                            *ngIf="employeeEmail.errors?.['email'] || employeeEmail.errors?.['maxlength'] || employeeEmail.errors?.['minlength'] || employeeEmail.errors?.['pattern']">
                            Please enter valid email.
                        </div>
                    </div> -->
    
                </div>
                <!-- <div *ngIf="employeeEmail.invalid && (employeeEmail.dirty || employeeEmail.touched)"
                        class="invalid-feedback">
                        <div *ngIf="employeeEmail.errors?.['required']">
                            This field is required.
                        </div>
                        <div
                            *ngIf="employeeEmail.errors?.['email'] || employeeEmail.errors?.['maxlength'] || employeeEmail.errors?.['minlength'] || employeeEmail.errors?.['pattern']">
                            Please enter valid email.
                        </div>
                    </div> -->
            </form>
            <!-- <button class="btn btn-primary sendbtn" (click)="showStepsFunction('Two')">Send</button> -->
            <!-- <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter employee email"  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="showStepsFunction('Two')">Send</button>
              </div> -->
        </div>
    </div>
    <div class="row p-0 infoBox" *ngIf="showStep == 'Two'">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="staffBox">
                <div class="row imgRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol" *ngIf="!details">
                        <div class="editCloseDiv">
                            <img src="assets/icons/editWhite.png" class="editIcon" (click)="editDetailsFun(true)">
                            <img src="assets/icons/closeIcon.png" class="closeIcon" (click)="close()">
                        </div>
                        <img src="assets/icons/quesmark.png" class="quesIcon" mat-button (click)="openDialog('Staff2')">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol2" *ngIf="details">
                        <div class="editCloseDiv">
                            <img src="assets/icons/editWhite.png" class="editIcon" (click)="editDetailsFun(true)">
                            <img src="assets/icons/closeIcon.png" class="closeIcon" (click)="close()">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                        <img src="assets/icons/userIcon.png" class="userIcon">
                        <h2 class="nameH">Name</h2>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 detailOptCol" style="cursor: pointer;"
                        (click)="showDetails()">
                        <div class="form-control addtoCalDiv">
                            <span class="labelSpan">Details <img src="assets/icons/dropdownIcon.png"
                                    style="margin-bottom: 1px;width: 10px;height: 7px;"
                                    [ngClass]="{'clicked': details}"></span>
                        </div>
                    </div>
                </div>
                <div class="row imgRow" *ngIf="details">
                    <div class="col-lg-12 col-md-12 col-sm-12 editdetailCol">
                        <form [formGroup]="detailsForm" autocomplete="off">
                            <div class="form-control addtoCalDiv posSelect">
                                <select #selectPos id="PosSelect" class="selectDrop" formControlName="position" (change)="adjustWidth(selectPos.value)">
                                    <option disabled selected hidden value="">Position</option>
                                    <option value="Salon worker">Salon worker</option>
                                    <option value="Head barber">Head barber</option>
                                </select>
                            </div>
                            <div *ngIf="!editDetails" class="form-control addtoCalDiv">
                                <span class="labelSpan" style="width: 100%;">Break From <img
                                        src="assets/icons/dropdownIcon.png"
                                        style="width: 10px;height: 7px;margin-left: 2%;"></span>
                            </div>
                            <div *ngIf="!editDetails" class="form-control addtoCalDiv">
                                <span class="labelSpan" style="width: 100%;">Break To <img
                                        src="assets/icons/dropdownIcon.png"
                                        style="width: 10px;height: 7px;margin-left: 7%;"></span>
                            </div>
                            <div *ngIf="editDetails" class="form-control addtoCalDiv" (click)="toggleCalender()">
                                <ngx-datepicker #showBFCalendar formControlName="breakFrom" [options]="BFoptions">
                                </ngx-datepicker> <img class="breakArr" src="assets/icons/dropdownIcon.png"
                                    (click)="toggleCalender()">
                            </div>
                            <div *ngIf="editDetails" class="form-control addtoCalDiv">
                                <ngx-datepicker formControlName="breakTo" [options]="BToptions"></ngx-datepicker> <img
                                    class="breakArr" src="assets/icons/dropdownIcon.png">
                            </div>


                            <div class="form-control addtoCalDiv" mat-button (click)="openDialog('Staff3')"> <span
                                    class="labelSpan">Employee Details</span>
                            </div>
                        </form>
                        <div class="editBtnsDiv" *ngIf="editDetails">
                            <button class="btn btn-primary cancelbtn" (click)="editDetailsFun(false)">Cancel</button>
                            <button class="btn btn-primary savebtn" (click)="detailsSaved()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-4 col-sm-12 topbtncol"></div>
            <div class="col-lg-4 col-md-4 col-sm-12 topbtncol">
            </div>
        </div>
    </div>