<div class="container">
    <div class="row" style="margin-top: 48px;">
        <div class="col-lg-12 col-md-12 col-sm-12 topbtncol">
            <button class="btn btn-primary savebtn addPosBtn" (click)="showStepsFunction('One')">Add Staff</button>
            <img src="assets/icons/quesmark.png" class="quesIcon" mat-button (click)="openDialog('Staff1')">
        </div>
    </div>
    <div class="row p-0 infoBox" *ngIf="showWizard">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="staffBox">
                <div class="row imgRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <h2 class="textH2">Step Four</h2>
                        <img src="assets/icons/closeGrey.png" class="closeIcon">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                       <ul>
                        <li>Click add staff</li>
                        <li>In the box, click the pencil to edit</li>
                        <li>Fill out the form</li>
                        <li>If you get stuck, click on the question mark for help at anytime</li>
                       </ul>
                    </div>
                    <div class="stepDiv">
                        <div class="steps">
                            <span class="stepSpan">1</span>
                            <span class="stepSpan">2</span>
                            <span class="stepSpan">3</span>
                            <span class="stepSpan" style="background:#5E5CE6; color:#FFFFFF;">4</span>
                        </div>
                        <button class="btn btn-primary savebtn" (click)="finishWizard()">Finish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 infoBox" *ngIf="showStep == 'One'">
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol emailCol">
            <input class="email" placeholder="Enter employee email">
            <button class="btn btn-primary sendbtn" (click)="showStepsFunction('Two')">Send</button>
        </div>
    </div>
    <div class="row p-0 infoBox" *ngIf="showStep == 'Two'">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="staffBox">
                <div class="row imgRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <div class="editCloseDiv">
                            <img src="assets/icons/editWhite.png" class="editIcon" (click)="editDetailsFun()" >
                            <img src="assets/icons/closeIcon.png" class="closeIcon">
                        </div>
                        <img src="assets/icons/quesmark.png" class="quesIcon" mat-button (click)="openDialog('Staff2')">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                        <img src="assets/icons/userIcon.png" class="userIcon">
                        <h2 class="nameH">Name</h2>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 detailOptCol" (click)="showDetails()">
                        <select class="form-control select">
                            <option>Details</option>
                        </select>
                    </div>
                </div>
                <div class="row imgRow" *ngIf="details">
                    <div class="col-lg-12 col-md-12 col-sm-12 editdetailCol">
                        <select class="form-control select">
                            <option>Position</option>
                        </select>
                        <div class="form-control addtoCalDiv"> <span class="labelSpan">Add to Calender</span>
                            <label class="switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                            </label>
                        </div>
                        <select class="form-control select">
                            <option>Break From</option>
                        </select>
                        <select class="form-control select">
                            <option>Break To</option>
                        </select>
                        <select class="form-control select">
                            <option>Employee Details</option>
                        </select>
                        <div class="editBtnsDiv" *ngIf="editDetails">
                            <button class="btn btn-primary cancelbtn">Cancel</button>
                            <button class="btn btn-primary savebtn">Save</button>
                        </div>
                    </div>
                    <!-- <div class="row profileRow"> -->

                    <!-- </div> -->


                </div>
            </div>
            <div class="col-lg-12 col-md-4 col-sm-12 topbtncol"></div>
            <div class="col-lg-4 col-md-4 col-sm-12 topbtncol">
            </div>
        </div>
    </div>