.example-container {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}
.mat-toolbar-multiple-rows {
  background: #312f2f;
  color: white;
}
.mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}
.mat-list-base {
  padding-top: 0px;
}
mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
  background: #ffffff;
  min-height: 114vh;
}
.boxGlobal {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 24px 10px 16px;
  gap: 8px;
  width: 362px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #312f2f;
  border-radius: 4px;
}
p.boxP {
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #312f2f;
}
span.spanImg {
  margin-left: 12px;
}
.mat-drawer {
  position: relative;
  z-index: 4;
  display: block;
  position: absolute;
  top: 0;
  height: auto !important;
  bottom: 0;
  z-index: 3;
  outline: 0;
  box-sizing: border-box;
  overflow-y: none !important;
  transform: translate3d(-100%, 0, 0);
}
#menuIcon {
  display: none;
}
.mat-drawer-inner-container {
  background: #e4e4e4 !important;
}
ul.openUL {
  position: absolute;
  list-style: none;
  background: #312f2f;
  padding: 19px 8px;
  width: max-content;
  z-index: 9;
  margin-left: -7%;
}
a.nav-link.openA {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.41px;
  cursor: pointer;
  color: #ffffff !important;
}
/* media query */
@media (max-width: 1085px) and (min-width: 767px) {
  ul.openUL{
    margin-left: -10%
  }
}
@media (max-width: 767px) and (min-width: 200px) {
  #menuIcon {
    display: block;
  }
  .mat-toolbar-row {
    padding: 0px;
  }
  .iconsDiv {
    display: contents;
  }
  .topBox {
    padding: 22px 6px 10px 10px;
    width: 139px;
  }
  ul.openUL{
    margin-left: -13%
  }
}
@media (max-width: 635px) and (min-width: 465px){
  ul.openUL{
    margin-left: -18%
  }
}
@media (max-width: 465px) and (min-width: 365px){
  ul.openUL{
    margin-left: -23%
  }
}
@media (max-width: 365px) and (min-width: 323px){
  ul.openUL{
    margin-left: -29%
  }
}
@media (max-width: 323px) and (min-width: 200px){
  ul.openUL{
    margin-left: -35%
  }
}