<!-- <div class="container-fluid p-0">
  <app-header></app-header>
  <div class="row m-0">
    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div> -->








<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">

    <mat-toolbar-row>
      <div>
        <button id="menuIcon" #menuBtn mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a class="navbar-brand mx-lg-4 mx-sm-4" routerLink="/home"><img src="assets/icons/home.png" class="vector" /></a>
      </div>
     
      <div class="boxGlobal">
        <div class="topBox">
          <p class="boxP">The Colorist <span class="spanImg"><img src="assets/icons/plus.png"></span></p>
        </div>
        
      </div>
      <a class="nav-item pt-3 nav-link lang-noheader">&nbsp;<img src="assets/icons/globle.png" class="globeIcon" /></a>
      
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <app-sidebar></app-sidebar>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  <!-- <mat-toolbar>
    <app-footer></app-footer>
  </mat-toolbar> -->
  
</div>