<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-1 mb-md-0 mb-1">
            </div>
            <div class="col-md-2 mb-md-0 mb-2">
                <h4 class="footerHead">{{'footer.OurCompany' | translate }}</h4>
                <ul class="list-unstyled">
                    <li class="liItem">
                        <a href="https://app-reservation-fe-web-frontend.dev.nursi.eu/about-us"
                            target="_blank">{{'footer.AboutUs' | translate }}</a>
                    </li>
                    <li class="liItem">
                        <a href="https://app-reservation-fe-web-frontend.dev.nursi.eu/contact-us"
                            target="_blank">{{'footer.ContactUs' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-2">
                <h4 class="footerHead">{{'footer.ForCustomer' | translate }}</h4>
                <ul class="list-unstyled">
                    <li class="liItem">
                        <a href="https://app-reservation-fe-web-frontend.dev.nursi.eu/service"
                            target="_blank">{{'footer.Service' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-2">
                <h4 class="footerHead">{{'footer.ForBusiness' | translate }}</h4>
                <ul class="list-unstyled">
                    <li class="liItem">
                        <a href="https://app-reservation-fe-web-frontend.dev.nursi.eu/features"
                            target="_blank">{{'footer.Features' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-2">
                <h4 class="footerHead">{{'footer.Legal' | translate }}</h4>
                <ul class="list-unstyled">
                    <li class="liItem">
                        <a href="https://app-reservation-fe-web-frontend.dev.nursi.eu/my-bookings"
                            target="_blank">{{'footer.BookingTerms' | translate }}</a>
                    </li>
                    <li class="liItem">
                        <a href="https://app-reservation-fe-web-frontend.dev.nursi.eu/privicy"
                            target="_blank">{{'footer.PrivacyPolicy' | translate }}</a>
                    </li>
                    <li class="liItem">
                        <a href="https://app-reservation-fe-web-frontend.dev.nursi.eu/terms-and-conditions"
                            target="_blank">{{'footer.WebsiteTerms' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-2" style="display: flex;
        flex-direction: column;
        align-items: center;">
                <h4 class="footerHead">{{'footer.OurFreeApp' | translate }}</h4>
                <a class="button-download downloadApp"
                    href="https://app-reservation-fe-web-frontend.dev.nursi.eu/download-app"
                    target="_blank">{{'buttonsText.Download' | translate }}</a>
            </div>
            <div class="col-md-1 mb-md-0 mb-1">
            </div>
        </div>
    </div>
</footer>