<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-1 mb-md-0 mb-1">
            </div>
            <div class="col-md-2 mb-md-0 mb-2">
                <h4 class="footerHead">Our Company</h4>
                <ul class="list-unstyled">
                    <li class="liItem" >
                        <a href="https:/app-reservation-fe-web-frontend.dev.nursi.eu/about-us" target="_blank">About Us</a></li>
                    <li class="liItem">
                        <a href="https:/app-reservation-fe-web-frontend.dev.nursi.eu/contact-us" target="_blank">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-2">
                <h4 class="footerHead">For Customer</h4>
                <ul class="list-unstyled">
                    <li class="liItem" >
                        <a href="https:/app-reservation-fe-web-frontend.dev.nursi.eu/service" target="_blank">Service</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-2">
                <h4 class="footerHead">For Business</h4>
                <ul class="list-unstyled">
                    <li class="liItem">
                        <a href="https:/app-reservation-fe-web-frontend.dev.nursi.eu/features" target="_blank">Features</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-2">
                <h4 class="footerHead">Legal</h4>
                <ul class="list-unstyled">
                    <li class="liItem" >
                        <a href="https:/app-reservation-fe-web-frontend.dev.nursi.eu/my-bookings" target="_blank">Booking Terms</a></li>
                    <li class="liItem" >
                        <a href="https:/app-reservation-fe-web-frontend.dev.nursi.eu/privicy" target="_blank">Privacy Policy</a></li>
                    <li class="liItem" >
                        <a href="https:/app-reservation-fe-web-frontend.dev.nursi.eu/terms-and-conditions" target="_blank">Website Terms</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-2" style="display: flex;
        flex-direction: column;
        align-items: center;">
                <h4 class="footerHead">Our Free App</h4>
                <!-- <button class="button-download downloadApp" > -->
                    <a class="button-download downloadApp"   href="https:/app-reservation-fe-web-frontend.dev.nursi.eu/download-app" target="_blank">Download</a>
                <!-- </button> -->
            </div>
            <div class="col-md-1 mb-md-0 mb-1">
            </div>
        </div>
    </div>
</footer>