<div class="container" style="padding-left: 27px;">
    <div class="row" style="margin-top: 42px;
    display: flex;
    justify-content: center;">
        
        <div class="col-lg-12 col-md-12 col-sm-12 notificationCol" style="width: 694px;">
            <div  class="notiDivUpper" style="width: 77.5%;">
                <h2 class="h2Text">{{'NotificationPage.TurnNotificationsOff' | translate }}</h2>

            </div>
            <div class="notiDivUpper">
                <div class="boxInp">
                    <span style="display: flex;align-items: center;">From</span>
                    <input [ngxTimepicker]="FromTime" readonly class="inputTime" (ngModelChange)="timeValue()"
                     [(ngModel)]="startTime"placeholder="23:00">
                    <ngx-material-timepicker #FromTime></ngx-material-timepicker>
                   
                </div>
                <div class="boxInp">
                    <span style="display: flex;align-items: center;">To</span>
                    <input [ngxTimepicker]="toTime" readonly  class="inputTime" (ngModelChange)="timeValue()" [(ngModel)]="finishTime"
                    placeholder="06:00" (ngModelChange)="timeValue()">
                    <ngx-material-timepicker #toTime></ngx-material-timepicker>
                </div>
                
                <img src="assets/icons/quesmark.svg" class="quesIcon" mat-button (click)="openDialog()"> 
            </div>
            
        </div>
    </div>
    <div class="row notiListRow" >
        <div class="col-lg-12 col-md-12 col-sm-12 notiBox"  *ngFor="let number of [0,1,2,3,4,5,6,7]; let i = index">
            <div class="notiDiv">
                <p class="serviceP">{{'NotificationPage.Service' | translate }}: &nbsp;<span class="serviceSpan">The Wolf Cut With Elizabeth Smith</span></p>
                <p class="serviceP">{{'NotificationPage.Time' | translate }}: &nbsp;<span class="serviceSpan">11:00am - 12:00pm £20</span></p>
            </div>
        </div>
    </div>
</div>