.notificationCol {
  text-align: end;
}
.h2Text {
  margin-right: 19% !important;
}
.notiListRow {
  margin-top: 42px;
  display: flex;
  justify-content: center;
}
.notiBox {
  padding: 5px;
  width: 694px;
  height: 71px;
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.notiDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
p.serviceP {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.41px;
  color: #312f2f;
  margin-bottom: 0px;
  margin-top: 4px;
}
span.serviceSpan {
  font-weight: 500;
}
.notiDivUpper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.boxInp{
  display: inline-flex;
  padding: 10px 10px;
  gap: 10px;
  width: 160px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 6px; 
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.32px;
  color: #000000;
  margin-right: 10px;
}
input.inputTime {
  border: none;
  width: 100%;
}
/* media query */
@media (max-width: 490px) and (min-width: 200px) {
  .boxInp {
    margin-right: 3px;
    font-size: 15px;
  }
  .h2Text {
    margin-right: 0% !important;
  }
  p.serviceP,
  span.serviceSpan {
    font-family: "Actor";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #312f2f;
    text-align: start;
  }
}
@media (max-width: 360px) and (min-width: 200px) {
  .notiBox {
    height: 96px;
  }
}
