<div class="container" style="padding-left: 27px;">
    <div class="row" style="margin-top: 42px;
    display: flex;
    justify-content: center;">
        
        <div class="col-lg-12 col-md-12 col-sm-12 notificationCol" style="width: 694px;">
            <div  class="notiDivUpper" style="width: 81%;">
                <h2 class="h2Text">Turn notifications off</h2>

            </div>
            <div class="notiDivUpper">
                <div class="boxInp">
                    <span style="display: flex;align-items: center;">From</span>
                    <input  type="text" class="inputTime" onfocus="(this.type='time')"  onblur="(this.type='text')" [(ngModel)]="startTime"placeholder="23:00" (ngModelChange)="timeValue()">
                     
                </div>
                <div class="boxInp">
                    <span style="display: flex;align-items: center;">To</span><input  type="text" onfocus="(this.type='time')"  onblur="(this.type='text')" [(ngModel)]="finishTime" class="inputTime"placeholder="06:00"(ngModelChange)="timeValue()">
                </div>
                <!-- <input  type="text" onfocus="(this.type='time')"  onblur="(this.type='text')" [(ngModel)]="startTime" class="timeInput" placeholder="From" (change)="timeValue()">
                <input  type="text" onfocus="(this.type='time')"  onblur="(this.type='text')" [(ngModel)]="finishTime" class="timeInput" placeholder="To"(change)="timeValue()">
              -->
                <img src="assets/icons/quesmark.png" class="quesIcon" mat-button (click)="openDialog()"> 
            </div>
            
        </div>
    </div>
    <div class="row notiListRow" >
        <div class="col-lg-12 col-md-12 col-sm-12 notiBox"  *ngFor="let number of [0,1,2,3,4,5,6,7]; let i = index">
            <div class="notiDiv">
                <p class="serviceP">Service: &nbsp;<span class="serviceSpan">The Wolf Cut With Elizabeth Smith</span></p>
                <p class="serviceP">Time: &nbsp;<span class="serviceSpan">11:00am - 12:00pm £20</span></p>
            </div>
        </div>
    </div>
</div>