h2.heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  font-family: "Overpass";
  align-items: center;
  letter-spacing: -0.24px;
  color: #000000;
}
p.detailText {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: -0.41px;
  color: #312f2f;
}
.textSpan {
  font-family: "Maven Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  padding-left: 12px;
  line-height: 30px;
  background: none;
  border: none;
}
.card {
  padding: 20px;
  background: #e4e4e4;
  border-radius: 6px;
  border: none;
}
.afterClickEdit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button.btn.btn-primary.editOpt.cancelBtn {
  padding: 6px 22px;
}
.bookHead {
  display: flex;
  justify-content: space-between;
}
img.quesmark {
  width: 35px;
  height: 35px;
  margin-right: 5%;
}
aside.sidebar {
  position: absolute;
  float: right !important;
  // left: 854px;
  // width: 231px;
  left: 835px;
  width: 250px;
  padding-left: 30px;
  padding-left: 32px;
  background: #e4e4e4;
  top: 0px;
  height: 100%;
  border-left: 2px solid #3066be;
  padding-top: 60px;
}
input.form-control.input,
.SelectOpt {
  box-sizing: border-box;
  width: 165px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 0px 4px 3px rgb(0 0 0 / 25%);
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.25px;
  color: #312f2f;
}
button.btn.btn-primary.cancelbtn,
button.btn.btn-primary.savebtn {
  width: 48% !important;
}
button.btn.btn-primary.cancelbtn.btnOff {
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  width: 100% !important;
}
.col-lg-5.col-md-5.col-sm-12.boxCol {
  width: 40%;
}
#quesWeb {
  display: block;
}
#filterMob {
  display: none;
}
button.btn.btn-primary.savebtn.filtersBtn {
  margin-right: 2%;
  background: #e4e4e4;
  border: none;
  color: #000000;
}
aside.optionFilter {
  background: #e4e4e4;
  position: absolute;
  padding: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 61%;
  margin-top: 1%;
  margin-left: 31%;
}
// media query
@media (max-width: 2077px) and (min-width: 1861px) {
  aside.sidebar {
    left: 86%;
  }
}
@media (max-width: 1861px) and (min-width: 1669px) {
  aside.sidebar {
    left: 84%;
  }
}
@media (max-width: 1669px) and (min-width: 1461px) {
  aside.sidebar {
    left: 82%;
  }
}
@media (max-width: 1461px) and (min-width: 1349px) {
  aside.sidebar {
    left: 79%;
  }
}
@media (max-width: 1307px) and (min-width: 1245px) {
  aside.sidebar {
    left: 796px;
    padding-left: 15px;
  }
}
@media (max-width: 1245px) and (min-width: 1193px) {
  aside.sidebar {
    left: 746px;
    padding-left: 15px;
  }
}
@media (max-width: 1193px) and (min-width: 1155px) {
  aside.sidebar {
    left: 705px;
    padding-left: 15px;
  }
}
@media (max-width: 1155px) and (min-width: 1123px){
  aside.sidebar{
    left: 673px;
    padding-left: 15px;
  }
}
@media (max-width: 1123px) and (min-width: 1089px){
  aside.sidebar{
    left: 649px;
    padding-left: 10px;
  }
}
@media (max-width: 1089px) and (min-width: 1025px){
  aside.sidebar{
    left: 620px;
    padding-left: 10px;
  }
  input.form-control.input,.SelectOpt{
    width: 124px;
    font-size: 13px;
  }
}
@media (max-width: 1025px) and (min-width: 979px){
  aside.sidebar{
    left: 574px;
    padding-left: 10px;
  }
  input.form-control.input,.SelectOpt{
    width: 124px;
    font-size: 13px;
  }
}
@media (max-width: 979px) and (min-width: 937px){
  aside.sidebar{
    left: 535px;
    padding-left: 10px;
  }
  input.form-control.input,.SelectOpt{
    width: 124px;
    font-size: 13px;
  }
}
@media (max-width: 767px) and (min-width: 200px) {
  .notiBox {
    height: 96px;
  }
  .sidebar {
    display: none;
  }
  .row.m-4.firstRow {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .col-lg-5.col-md-5.col-sm-12.boxCol {
    width: 100%;
    margin-bottom: 20px;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  #quesWeb {
    display: none;
  }
  #filterMob {
    display: block;
  }
  input.form-control.input,
  .SelectOpt {
    width: 100%;
  }
}
