<div class="container-fluid">
    <div class="container">
        <!-- <div class="row m-4" style="margin-top: 43px !important;">
            <div class="col-lg-12 col-md-12 col-sm-12 mainHeadCOl">
                <h1 class="Mainheading">My Bookings</h1>
                <button class="filterBtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">Filters</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" (click)="showbooking('Confirmed')">Confirmed</a></li>
                    <li><a class="dropdown-item" (click)="showbooking('Completed')">Completed</a></li>
                    <li><a class="dropdown-item" (click)="showbooking('pending')">Pending</a></li>
                </ul>
            </div>
        </div> -->
        <div class="row m-4">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="row m-4" style="margin-top: 45px !important;" >
                    <h2 class="heading">Pending Bookings</h2>
                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                        <div class="card">
                            <p class="detailText">Service 1</p>
                            <p class="detailText">Service: <span class="textSpan">The Wolf
                                    Cut</span></p>
                            <p class="detailText">Salon: <span class="textSpan">A cut
                                    above</span></p>
                            <p class="detailText">With: <span class="textSpan">Elizabeth
                                    Smith</span></p>
                            <p class="detailText">Time: <span class="textSpan">11:00am -
                                    12:00pm</span></p>
                            <p class="detailText">Date: <span class="textSpan"
                                   >21/2/2022</span></p>
                            <p class="detailText">Price: <span class="textSpan">£20</span>
                            </p>
                            <button class="btn btn-primary cancelbtn" >Offer new time</button>
                            <div class="afterClickEdit">
                                <button class="btn btn-primary cancelbtn">Reject</button>
                                <button class="btn btn-primary savebtn" >Accept</button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                        <div class="card">
                            <p class="detailText">Service 1</p>
                            <p class="detailText">Service: <span class="textSpan">The Wolf
                                    Cut</span></p>
                            <p class="detailText">Salon: <span class="textSpan">A cut
                                    above</span></p>
                            <p class="detailText">With: <span class="textSpan">Elizabeth
                                    Smith</span></p>
                            <p class="detailText">Time: <span class="textSpan">11:00am -
                                    12:00pm</span></p>
                            <p class="detailText">Date: <span class="textSpan"
                                   >21/2/2022</span></p>
                            <p class="detailText">Price: <span class="textSpan">£20</span>
                            </p>
                            <button class="btn btn-primary cancelbtn" >Offer new time</button>
                            <div class="afterClickEdit">
                                <button class="btn btn-primary cancelbtn">Reject</button>
                                <button class="btn btn-primary savebtn" >Accept</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row m-4" style="margin-top: 45px !important;" >
                    <h2 class="heading">Confirmed Bookings</h2>
                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                        <div class="card">
                            <p class="detailText">Service 1</p>
                            <p class="detailText">Service: <span class="textSpan">The Wolf
                                    Cut</span></p>
                            <p class="detailText">Salon: <span class="textSpan">A cut
                                    above</span></p>
                            <p class="detailText">With: <span class="textSpan">Elizabeth
                                    Smith</span></p>
                            <p class="detailText">Time: <span class="textSpan">11:00am -
                                    12:00pm</span></p>
                            <p class="detailText">Date: <span class="textSpan"
                                   >21/2/2022</span></p>
                            <p class="detailText">Price: <span class="textSpan">£20</span>
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                        <div class="card">
                            <p class="detailText">Service 1</p>
                            <p class="detailText">Service: <span class="textSpan">The Wolf
                                    Cut</span></p>
                            <p class="detailText">Salon: <span class="textSpan">A cut
                                    above</span></p>
                            <p class="detailText">With: <span class="textSpan">Elizabeth
                                    Smith</span></p>
                            <p class="detailText">Time: <span class="textSpan">11:00am -
                                    12:00pm</span></p>
                            <p class="detailText">Date: <span class="textSpan"
                                   >21/2/2022</span></p>
                            <p class="detailText">Price: <span class="textSpan">£20</span>
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                
            </div>
        </div>
        
    </div>
</div>