<div class="container">
    <div class="row" style="margin-top: 48px;">
        <div class="col-lg-12 col-md-12 col-sm-12 topbtncol">
            <button class="btn btn-primary savebtn addPosBtn">Add Staff</button>
            <img src="assets/icons/quesmark.png">
        </div>
    </div>
    <div class="row p-0 infoBox">
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 topbtncol">
            <input class="email" placeholder="Enter employee email">
            <button class="btn btn-primary sendbtn">Send</button>
        </div>
    </div>
    <div class="row p-0 infoBox">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="staffBox">
                <div class="row imgRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <div class="editCloseDiv">
                            <img src="assets/icons/editWhite.png" class="editIcon">
                            <img src="assets/icons/closeIcon.png" class="closeIcon">
                        </div>
                        <img src="assets/icons/quesmark.png" class="quesIcon">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                        <img src="assets/icons/userIcon.png" class="userIcon">
                        <h2 class="nameH">Name</h2>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 detailOptCol">
                        <select class="form-control select">
                            <option>Details</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 editdetailCol">
                        <select class="form-control select">
                            <option>Position</option>
                        </select>
                        <div class="form-control addtoCalDiv"> <span class="labelSpan">Add to Calender</span>
                            <label class="switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                            </label>
                        </div>
                        <select class="form-control select">
                            <option>Break From</option>
                        </select>
                        <select class="form-control select">
                            <option>Break To</option>
                        </select>
                        <select class="form-control select">
                            <option>Employee Details</option>
                        </select>
                        <div class="editBtnsDiv">
                            <button class="btn btn-primary cancelbtn">Cancel</button>
                            <button class="btn btn-primary savebtn">Save</button>
                        </div>
                    </div>
                    <!-- <div class="row profileRow"> -->

                    <!-- </div> -->


                </div>
            </div>
            <div class="col-lg-12 col-md-4 col-sm-12 topbtncol"></div>
            <div class="col-lg-4 col-md-4 col-sm-12 topbtncol">
            </div>
        </div>
    </div>