<div class="container" #containerTop>
    <div class="row" style="margin-top: 48px;">
        <div class="col-lg-12 col-md-12 col-sm-12 topbtncol">
            <button class="btn btn-primary savebtn addPosBtn" (click)="addNewPosition()">{{'buttonsText.AddPosition' | translate }}</button>
            <img src="assets/icons/quesmark.svg" class="quesIcon" mat-button (click)="openDialog('Pos1')">
        </div>
    </div>
    <div class="row p-0 infoBox" *ngIf="showWizard" style="margin-bottom: 25px;">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="staffBox">
                <div class="row imgRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <h2 class="textH2">{{'PositionPage.WizardHead' | translate }}</h2>
                        <img src="assets/icons/closeGrey.svg" class="closeIcon" (click)="finishWizard()">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                        <ul>
                            <li>{{'PositionPage.WizardPara1' | translate }}</li>
                            <li>{{'PositionPage.WizardPara2' | translate }}</li>
                            <li>{{'PositionPage.WizardPara3' | translate }}</li>
                            <li>{{'PositionPage.WizardPara4' | translate }}</li>
                            <li>{{'PositionPage.WizardPara5' | translate }}</li>
                            <li>{{'PositionPage.WizardPara6' | translate }}</li>
                        </ul>
                    </div>
                    <div class="stepDiv">
                        <div class="steps">
                            <span class="stepSpan">1</span>
                            <span class="stepSpan">2</span>
                            <span class="stepSpan"
                                style="background:#5E5CE6 !important; color:#FFFFFF !important;">3</span>
                            <span class="stepSpan">4</span>
                        </div>
                        <button class="btn btn-primary savebtn" (click)="nextWizard()">{{'buttonsText.Next' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-0 infoBox" >
        <div class="col-lg-5 col-md-5 col-sm-12" *ngFor="let items of arrayItemList; let i = index;" style="margin-top: 25px;">
            <div class="staffBox">
                <div class="row imgRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 imgCol">
                        <input class="JobTit" [disabled]="!items.editTitle" placeholder="Enter Job title"
                            [(ngModel)]="items.jobTitle">
                        <img src="assets/icons/quesmark.svg" class="quesIcon quesJob" mat-button
                            (click)="openDialog('Pos2')">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 profileCol">
                        <h2 class="nameH"> {{'PositionPage.NotAssignedTo' | translate }}</h2>
                        <div class="editCloseDiv">
                            <button class="btn btn-primary nextBtn aboveNxt"
                                (click)="clickOnNextBTN(items, i, 'goToSchedule')"> {{'buttonsText.Next' | translate }}</button>
                            <img src="assets/icons/edit.svg" class="editIcon" *ngIf="items.showEditBtn"
                                (click)="items.editTitle = true" style="width: 30px; height: 30px;">
                                <button class="btn btn-primary nextBtn aboveNxt" style="background: #FF3B30;
                                border: none;margin-right: 0px;"
                                (click)="removePosition(i)"
                                > {{'buttonsText.Delete' | translate }}</button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 detailOptCol">
                        <!-- opening time schedule step 1-->
                        <div *ngIf="items.showStep == 'scheduleStep'">
                            <div class="stepDiv">
                                <div class="steps">
                                    <div class="selectStep"><span class="stepSpanP selected">1</span>{{'PositionPage.Schedule' | translate }} </div>
                                    <span class="stepSpanP">2</span>
                                    <span class="stepSpanP">3</span>
                                    <span class="stepSpanP">4</span>
                                </div>
                                <img src="assets/icons/quesmark.svg" class="quesIcon quesMarkStep" mat-button
                                    (click)="openDialog('Pos3')">
                            </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-4 ">
                                            <h3 class="colHeadTime">{{'timeInputForm.Day' | translate }}</h3>

                                        </div>
                                        <div class="col-4">
                                            <h3 class="colHeadTime">{{'timeInputForm.Opening' | translate }}</h3>

                                        </div>
                                        <div class="col-4">
                                            <h3 class="colHeadTime">{{'timeInputForm.Closing' | translate }}</h3>

                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row dayRow">
                                        <div class="col-4 ">
                                            <label class="form-label label daysLabel webView"
                                                for="passwordInput">{{'timeInputForm.Monday' | translate }}</label>
                                            <label class="form-label label daysLabel mobileView"
                                                for="passwordInput">{{'timeInputForm.Mon' | translate }}</label>
                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="monOpen" readonly class="form-control input "
                                                [(ngModel)]="items.monOpen" placeholder="Closed">
                                            <ngx-material-timepicker #monOpen></ngx-material-timepicker>

                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="monClose" readonly class="form-control input "
                                                [(ngModel)]="items.monClose" placeholder="Closed">
                                            <ngx-material-timepicker #monClose></ngx-material-timepicker>

                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row dayRow">
                                        <div class="col-4 ">
                                            <label class="form-label label daysLabel webView"
                                                for="passwordInput">{{'timeInputForm.Tuesday' | translate }}</label>
                                            <label class="form-label label daysLabel mobileView"
                                                for="passwordInput">{{'timeInputForm.Tues' | translate }}</label>

                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="tuesOpen" readonly class="form-control input "
                                                [(ngModel)]="items.tuesOpen" placeholder="Closed">
                                            <ngx-material-timepicker #tuesOpen></ngx-material-timepicker>

                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="tuesClose" readonly class="form-control input "
                                                [(ngModel)]="items.tuesClose" placeholder="Closed">
                                            <ngx-material-timepicker #tuesClose></ngx-material-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row dayRow">
                                        <div class="col-4 ">
                                            <label class="form-label label daysLabel webView"
                                                for="passwordInput">{{'timeInputForm.Wednesday' | translate }}</label>
                                            <label class="form-label label daysLabel mobileView"
                                                for="passwordInput">{{'timeInputForm.Wednes' | translate }}</label>

                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="wedOpen" readonly class="form-control input "
                                                [(ngModel)]="items.wedOpen" placeholder="Closed">
                                            <ngx-material-timepicker #wedOpen></ngx-material-timepicker>

                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="wedClose" readonly class="form-control input "
                                                [(ngModel)]="items.wedClose" placeholder="Closed">
                                            <ngx-material-timepicker #wedClose></ngx-material-timepicker>

                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row dayRow">
                                        <div class="col-4 ">
                                            <label class="form-label label daysLabel webView"
                                                for="passwordInput">{{'timeInputForm.Thursday' | translate }}</label>
                                            <label class="form-label label daysLabel mobileView"
                                                for="passwordInput">{{'timeInputForm.Thurs' | translate }}</label>
                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="thursOpen" readonly class="form-control input "
                                                [(ngModel)]="items.thursOpen" placeholder="Closed">
                                            <ngx-material-timepicker #thursOpen></ngx-material-timepicker>

                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="thursClose" readonly class="form-control input "
                                                [(ngModel)]="items.thursClose" placeholder="Closed">
                                            <ngx-material-timepicker #thursClose></ngx-material-timepicker>

                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row dayRow">
                                        <div class="col-4 ">
                                            <label class="form-label label daysLabel webView"
                                                for="passwordInput">{{'timeInputForm.Friday' | translate }}</label>
                                            <label class="form-label label daysLabel mobileView"
                                                for="passwordInput">{{'timeInputForm.Fri' | translate }}</label>
                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="friOpen" readonly class="form-control input "
                                                [(ngModel)]="items.friOpen" placeholder="Closed">
                                            <ngx-material-timepicker #friOpen></ngx-material-timepicker>

                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="friClose" readonly class="form-control input "
                                                [(ngModel)]="items.friClose" placeholder="Closed">
                                            <ngx-material-timepicker #friClose></ngx-material-timepicker>

                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row dayRow">
                                        <div class="col-4 ">
                                            <label class="form-label label daysLabel webView"
                                                for="passwordInput">{{'timeInputForm.Saturday' | translate }}</label>
                                            <label class="form-label label daysLabel mobileView"
                                                for="passwordInput">{{'timeInputForm.Sat' | translate }}</label>
                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="satOpen" readonly class="form-control input "
                                                [(ngModel)]="items.satOpen" placeholder="Closed">
                                            <ngx-material-timepicker #satOpen></ngx-material-timepicker>

                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="satClose" readonly  class="form-control input "
                                                [(ngModel)]="items.satClose" placeholder="Closed">
                                            <ngx-material-timepicker #satClose></ngx-material-timepicker>

                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row dayRow">
                                        <div class="col-4 ">
                                            <label class="form-label label daysLabel webView"
                                                for="passwordInput">{{'timeInputForm.Sunday' | translate }}</label>
                                            <label class="form-label label daysLabel mobileView"
                                                for="passwordInput">{{'timeInputForm.Sun' | translate }}</label>
                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="sunOpen" readonly class="form-control input "
                                                [(ngModel)]="items.sunOpen" placeholder="Closed">
                                            <ngx-material-timepicker #sunOpen></ngx-material-timepicker>

                                        </div>
                                        <div class="col-4">
                                            <input [ngxTimepicker]="sunClose" readonly class="form-control input "
                                                [(ngModel)]="items.sunClose" placeholder="Closed">
                                            <ngx-material-timepicker #sunClose></ngx-material-timepicker>

                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row dayRow">
                                        <div class="col-6 ">
                                            <button class="btn btn-primary cancelbtn"
                                                (click)="cancelStep(items, i ,'schedule')">{{'buttonsText.Cancel' | translate }}</button>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn btn-primary savebtn"
                                            (click)="clickOnNextBTN(items, i, 'goToPermission')">{{'buttonsText.Next' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <!-- permissions step 2-->
                        <div *ngIf="items.showStep == 'permissionStep'">
                            <div class="stepDiv">
                                <div class="steps">
                                    <span class="stepSpanP">1</span>
                                    <div class="selectStep"><span class="stepSpanP selected">2</span> {{'PositionPage.Permissions' | translate }} </div>
                                    <span class="stepSpanP">3</span>
                                    <span class="stepSpanP">4</span>
                                </div>
                                <img src="assets/icons/quesmark.svg" class="quesIcon quesMarkStep" mat-button
                                    (click)="openDialog('Pos4')">
                            </div>
                            <div *ngFor="let perItem of items.permissions; let permiIndex=index">
                                <div class="addtoCalDiv">
                                    <select class="form-control select" [(ngModel)]="perItem.perKey">
                                        <option disabled selected hidden value="">Permission</option>
                                        <option value="Permission 1">Permission 1</option>
                                        <option value="Permission 2">Permission 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary cancelbtn" (click)="addPermissionValue(items,i)">
                                    {{'buttonsText.AddPermission' | translate }}</button>
                            </div>
                            <div class="mb-3">
                                <div class="row dayRow">
                                    <div class="col-6 ">
                                        <button class="btn btn-primary cancelbtn" type="button"
                                            (click)="cancelStep(items,i,'permission')">{{'buttonsText.Cancel' | translate }}</button>

                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-primary savebtn"
                                            (click)="clickOnNextBTN(items, i, 'goToEmployeeType')">{{'buttonsText.Next' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Employee type step 3-->
                        <div *ngIf="items.showStep == 'employeeTypeStep'">
                            <div class="stepDiv">
                                <div class="steps">
                                    <span class="stepSpanP">1</span>
                                    <span class="stepSpanP">2</span>
                                    <div class="selectStep"><span class="stepSpanP selected">3</span> {{'PositionPage.EmployeeType' | translate }}
                                    </div>
                                    <span class="stepSpanP">4</span>
                                </div>
                                <img src="assets/icons/quesmark.svg" class="quesIcon quesMarkStep" mat-button
                                    (click)="openDialog('Pos5')">
                            </div>
                            <p class="textStep"> {{'PositionPage.EmployeeType' | translate }} </p>
                            <div class="addtoCalDiv">
                                <select class="form-control select" [(ngModel)]="items.employeeType">
                                    <option disabled selected hidden value="">Select</option>
                                    <option value="Employee type 1">Self Employed</option>
                                    <option value="Employee type 2">Employed</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <div class="row dayRow">
                                    <div class="col-6 ">
                                        <button class="btn btn-primary cancelbtn"
                                            (click)="cancelStep(items, i, 'employeeType')">{{'buttonsText.Cancel' | translate }}</button>

                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-primary savebtn"
                                            (click)="clickOnNextBTN(items, i, 'goToService')">{{'buttonsText.Next' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Services step 4 -->
                        <div *ngIf="items.showStep == 'serviceStep'">
                            <div class="stepDiv">
                                <div class="steps">
                                    <span class="stepSpanP">1</span>
                                    <span class="stepSpanP">2</span>
                                    <span class="stepSpanP">3</span>
                                    <div class="selectStep"><span class="stepSpanP selected">4</span> {{'PositionPage.Services' | translate }} </div>
                                </div>
                                <img src="assets/icons/quesmark.svg" class="quesIcon quesMarkStep" mat-button
                                    (click)="openDialog('Pos6')">
                            </div>
                            <div *ngFor="let serItem of items.serviceList; let listIndex=index">
                                <div>
                                    <div class="addtoCalDiv">
                                        <select class="form-control select" [(ngModel)]="serItem.category">
                                            <option disabled selected hidden value="">Category</option>
                                            <option value="Category 1">Category 1</option>
                                            <option value="Category 2">Category 2</option>
                                        </select>
                                    </div>

                                    <div>
                                        <div *ngFor="let servi of serItem.serList; let serviceIndex=index">
                                            <div class="mb-3">
                                                <div class="row dayRow">
                                                    <div class="col-8 ">
                                                        <input class="form-control input ser" placeholder="Service"
                                                            [(ngModel)]="servi.service" type="text" maxlength="60">
                                                    </div>
                                                    <div class="col-2">
                                                        <input
                                                            class="form-control input ser" placeholder="Time"
                                                            [(ngModel)]="servi.time"
                                                            style="padding-right: 3px; padding-left: 3px;">
                                                    </div>
                                                    <div class="col-2">
                                                        <input class="form-control input ser" type="text"
                                                            placeholder="Price" [(ngModel)]="servi.price" maxlength="5"
                                                            #inputPrice style="padding-right: 3px; padding-left: 3px;"
                                                            (keyup)="validatePriceField(inputPrice.value)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row dayRow">
                                    <div class="col-6 ">
                                        <button class="btn btn-primary cancelbtn"
                                            (click)="addCategoryValue(items, i,'Service')">{{'buttonsText.AddService' | translate }}</button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-primary cancelbtn"
                                            (click)="addCategoryValue(items, i,'Category')">{{'buttonsText.AddCategory' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row dayRow">
                                    <div class="col-6 ">
                                        <button class="btn btn-primary cancelbtn"
                                            (click)="cancelStep(items,i,'service')">{{'buttonsText.Cancel' | translate }}</button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-primary savebtn" [disabled]="savedBtnDis"
                                            (click)="clickOnNextBTN(items, i, 'goToEnd')">{{'buttonsText.Save' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
