.staffBox {
  background: #e4e4e4;
  border-radius: 6px;
  padding: 10px;
}
button.btn.btn-primary.savebtn.addPosBtn {
  width: 16%;
  margin-right: 14px;
}
input.JobTit {
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: -0.41px;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.quesJob {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-bottom: 18px;
  margin-left: 365px;
  margin-top: 20px;
}
.imgCol {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}
.col-lg-12.col-md-12.col-sm-12.profileCol {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}
h2.nameH {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 0px;
}
button.btn.btn-primary.nextBtn {
  height: 36px;
  padding: 6px 20px;
  background: #004fcb;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #ffffff;
  border-radius: 6px;
  margin-right: 20px;
}
.stepDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.steps {
  display: flex;
  flex-direction: row;
  align-items: center;
}
span.stepSpan {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.41px;
  color: #312f2f;
  background: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-right: 18px;
  padding-right: 11px;
  padding-left: 11px;
  padding-top: 2px;
}
.selectStep {
  background: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 0px;
  margin-right: 18px;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #312f2f;
}
span.stepSpan.selected {
  background-color: #5e5ce6;
  color: #ffffff;
  margin-right: 10px;
}
.col-lg-12.col-md-12.col-sm-12.detailOptCol {
  margin-top: 20px;
}
img.quesMarkStep {
  width: 30px;
  height: 30px;
}
img.editIcon {
  margin-right: 10px;
}
select.form-control.select,
.addtoCalDiv {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.41px;
  color: #000000;
  height: 50px;
  margin-bottom: 10px;
}
p.textStep {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #312f2f;
  margin-top: 20px;
  margin-bottom: 0px;
}
input.form-control.input.ser {
  font-size: 13px;
}
.webView {
  display: block !important;
  margin-top: 10px;
}
.mobileView {
  display: none !important;
  margin-top: 10px;
}
/* media query */
@media (max-width: 767px) and (min-width: 200px) {
  button.btn.btn-primary.savebtn.addPosBtn {
    width: 47%;
  }
  .staffBox {
    margin-top: 15%;
  }
  .webView {
    display: none !important;
  }
  .mobileView {
    display: block !important;
  }
}
