// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@include mat.core();

$ClientUILatest-primary: mat.define-palette(mat.$indigo-palette);
$ClientUILatest-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$ClientUILatest-warn: mat.define-palette(mat.$red-palette);

$ClientUILatest-theme: mat.define-light-theme(
  (
    color: (
      primary: $ClientUILatest-primary,
      accent: $ClientUILatest-accent,
      warn: $ClientUILatest-warn,
    ),
  )
);
@include mat.all-component-themes($ClientUILatest-theme);
@import "~ngx-toastr/toastr.css";
// labels
label.form-label.label {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #312f2f;
}
// input
input.form-control.input {
  padding: 10px;
  border: none;
  height: 50px;
  background: rgba(255, 255, 255, 1);
  border-radius: 6px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #000000;
}
// label Upload
label.labelUpload {
  margin-top: 7%;
  font-size: 18px;
  padding: 12px 20px;
}
// p text
p.texthead {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.24px;
  color: #312f2f;
  font-family: "Overpass";
  margin-bottom: 0px;
}
// h2 head text {
.h2Text {
  font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 26px !important;
  line-height: 31px !important;
  letter-spacing: -0.41px !important;
  color: #312f2f !important;
}
// cursor pointer
.editIcon,
.quesIcon,
.leftArr,
.rightArr,
.closeIcon {
  cursor: pointer;
}
// button designs
button.btn.btn-primary.savebtn,
button.btn.btn-primary.cancelbtn,
.labelUpload {
  width: 100%;
  padding: 10px 20px;
  height: 50px;
  background: #5e5ce6;
  border-radius: 6px;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.32px;
  color: #ffffff;
  font-family: "Open Sans";
}
button.btn.btn-primary.savebtn:hover {
  background-color: #3b38e9;
}
button.btn.btn-primary.cancelbtn:hover {
  background-color: #f4f3f3;
}
button.btn.btn-primary.cancelbtn,
.labelUpload {
  color: #312f2f;
  background: rgba(255, 255, 255, 1);
  border: 1px solid #000000;
}
// container
.container {
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 147px;
}
// edit icon
.editIcn {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
// button top
.col-lg-12.col-md-12.col-sm-12.topbtncol {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}
// toggle switch
.switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 41px;
  margin-left: 6px;
}
.switch input {
  display: none;
}
.slider {
  background-color: #979798;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.slider:before {
  background-color: #d0e3f1;
  bottom: 2px;
  content: "";
  height: 22px;
  left: 1px;
  position: absolute;
  transition: 0.4s;
  width: 22px;
}
input:checked + .slider {
  background-color: #5e5ce6;
}
input:checked + .slider:before {
  transform: translateX(26px);
  left: -8px;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
// time div
p.texthead,
.colHeadTime,
label.form-label.label.daysLabel {
  color: #000000;
}
.colHeadTime {
  font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 26px !important;
  line-height: 32px !important;
  letter-spacing: -0.32px !important;
}
label.form-label.label.daysLabel {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.41px;
}
.dayRow {
  display: flex;
  // align-items: center;
  align-items: flex-start;
}
// time field
// input[type="time"]::-webkit-calendar-picker-indicator {
//   // background: 'q';
//   // display: none;
// }
// dialog box
.mat-dialog-container {
  background: #e4e4e4 !important;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 8%), 0px 1px 2px rgb(0 0 0 / 8%),
    0px 4px 12px rgb(0 0 0 / 16%) !important;
  border-radius: 6px !important;
}
.mat-drawer-inner-container {
  background: #e4e4e4 !important;
}
.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}
mat-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
// select input
select {
  -webkit-appearance: listbox !important;
}
// date form field
.datepicker-container,
input.dateIn {
  width: 100% !important;
}
input.dateIn {
  border: none;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #000000;
}
.datepicker-default .day-unit.is-selected,
.datepicker-default .day-unit:hover,
.datepicker-default .year-unit.is-selected,
.datepicker-default .year-unit:hover {
  background: #004fcb !important;
  color: #fff;
}

// dashboard wizard
.staffBox {
  background: #e4e4e4;
  border-radius: 6px;
  padding: 10px;
}
h2.textH2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: -0.41px;
  color: #000000;
  margin-bottom: 0px;
}
p.ptext {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: -0.41px;
  color: #000000;
}
.imgCol {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.col-lg-12.col-md-12.col-sm-12.profileCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6px;
}
.stepDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
span.stepSpan {
  color: #312f2f;
  background: #c4c4c4;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 18px;
  padding-right: 8px;
  padding-left: 8px;
}
ul {
  list-style: decimal;
}
li,
span.stepSpan {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.41px;
  color: #000000;
}
// positions date
.PosDate {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.41px;
  color: #000000;
  height: 44px;
  border: none;
  border-radius: 3px;
  width: 78%;
  margin-left: 9%;
}
// booking page date
.dateBookINP{
  box-sizing: border-box;
  width: 165px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 0px 4px 3px rgb(0 0 0 / 25%);
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.25px;
  color: #312f2f;
}
// booking page date
@media (max-width: 1089px) and (min-width: 1025px){
  .dateBookINP{
    width: 124px;
    font-size: 13px;
  }
}
@media (max-width: 1025px) and (min-width: 979px){
  .dateBookINP{
    width: 124px;
    font-size: 13px;
  }
}
@media (max-width: 979px) and (min-width: 937px){
  .dateBookINP{
    width: 124px;
    font-size: 13px;
  }
}
/* media query */
@media (max-width: 345px) and (min-width: 200px) {
  button.btn.btn-primary.savebtn {
    padding: 0px;
    height: 35px;
    font-size: 16px;
  }
}
// calendar
.fc-h-event,
.fc-v-event {
  display: block;
  border: 1px solid #5e5ce6 !important;
  border: 1px solid var(--fc-event-border-color, #5e5ce6) !important;
  background-color: #5e5ce6 !important;
}
td.fc-timegrid-slot.fc-timegrid-slot-lane {
  background: white;
}
.fc .fc-daygrid-day-frame {
  background: white;
}
::placeholder{
  color: #000000;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000000;
}
::-webkit-input-placeholder{
  color: #000000;
  opacity: 1;
}
select::-ms-expand { display: block; }