h2.headingDialog,
li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.41px;
  color: #312f2f;
}
ul {
  list-style: decimal;
}
li {
  font-size: 24px !important;
  font-weight: 500;
}
