<!-- coming from salon page -->
<div *ngIf="data.fromPage == 'salonPage'" class="setDesign">
    <h2 class="headingDialog">{{'DialogContent.SalonPage.Head1' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.SalonPage.H1P1' | translate }}
        </li>
        <li>
            {{'DialogContent.SalonPage.H1P2' | translate }}
        </li>
    </ul>
    <h2 class="headingDialog">{{'DialogContent.SalonPage.Head2' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.SalonPage.H2P1' | translate }}
        </li>
        <li>
            {{'DialogContent.SalonPage.H2P2' | translate }}
        </li>
        <li>{{'DialogContent.SalonPage.H2P3' | translate }}</li>
        <li>{{'DialogContent.SalonPage.H2P4' | translate }}</li>
    </ul>

    <h2 class="headingDialog">{{'DialogContent.SalonPage.Head3' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.SalonPage.H3P1' | translate }}
        </li>
        <li>
            {{'DialogContent.SalonPage.H3P2' | translate }}
        </li>
    </ul>
</div>
<!-- coming from company information page -->
<div *ngIf="data.fromPage == 'companyInfo'">
    <h2 class="headingDialog">{{'DialogContent.CompanyInfoPage.Head1' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.CompanyInfoPage.H1P1' | translate }}
        </li>
        <li>
            {{'DialogContent.CompanyInfoPage.H1P2' | translate }}
        </li>
        <li>{{'DialogContent.CompanyInfoPage.H1P3' | translate }}</li>
    </ul>
</div>
<!-- coming from bookings page -->
<div *ngIf="data.fromPage == 'booking'">
    <h2 class="headingDialog">{{'DialogContent.BookingPage.Head1' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.BookingPage.H1P1' | translate }}
        </li>
    </ul>
    <h2 class="headingDialog">{{'DialogContent.BookingPage.Head1' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.BookingPage.H2P1' | translate }}
        </li>
    </ul>

    <h2 class="headingDialog">{{'DialogContent.BookingPage.Head1' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.BookingPage.H3P1' | translate }}
        </li>
        <li>
            {{'DialogContent.BookingPage.H3P2' | translate }}
        </li>
        <li>{{'DialogContent.BookingPage.H3P3' | translate }}</li>
        <li>{{'DialogContent.BookingPage.H3P4' | translate }}Click send</li>
    </ul>
</div>
<!-- dialog box for offer new time in booking page -->
<div *ngIf="data.fromPage == 'BookOfferTime'">
    <h2 class="textNewTime">{{'DialogContent.BookingPage.NewTime' | translate }}</h2>
    <form [formGroup]="offerTimeForm" autocomplete="off">
        <div class="timeIn">
            <div class="boxInp">
                <span>{{'DialogContent.BookingPage.From' | translate }}</span>
                <input matInput placeholder="mm/dd/yyyy" readonly [matDatepicker]="datepickerStart" formControlName="startDate"
                    (click)="datepickerStart.open()" class="timeField">
                <mat-datepicker #datepickerStart></mat-datepicker>
                <input [ngxTimepicker]="startPicker" class="timeField" readonly placeholder="hh:mm" formControlName="startTime">
                <ngx-material-timepicker #startPicker></ngx-material-timepicker>
            </div>
            <div class="boxInp">
                <span>{{'DialogContent.BookingPage.To' | translate }}</span>
                <input matInput placeholder="mm/dd/yyyy" readonly [matDatepicker]="datepickerfinish" formControlName="finishDate"
                    (click)="datepickerfinish.open()" class="timeField" >
                <mat-datepicker #datepickerfinish></mat-datepicker>

                <input [ngxTimepicker]="finishPicker" readonly class="timeField" placeholder="hh:mm"
                    formControlName="finishTime">
                <ngx-material-timepicker #finishPicker></ngx-material-timepicker>
            </div>


        </div>
    </form>
    <button class="btn btn-primary savebtn" (click)="sendNewOfferTime()">{{'buttonsText.Send' | translate }}</button>
</div>
<!-- coming from company Notification page -->
<div *ngIf="data.fromPage == 'notification'">
    <h2 class="headingDialog">{{'DialogContent.NotificationPage.Head1' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.NotificationPage.H1P1' | translate }}
        </li>
        <li>
            {{'DialogContent.NotificationPage.H1P2' | translate }}
        </li>
        <li>{{'DialogContent.NotificationPage.H1P3' | translate }}</li>
        <li>{{'DialogContent.NotificationPage.H1P4' | translate }}</li>
    </ul>
</div>
<!-- coming from calendar page -->
<div *ngIf="data.fromPage == 'calendar'">
    <h2 class="headingDialog">{{'DialogContent.CalendarPage.Head1' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.CalendarPage.H1P1' | translate }}
        </li>
        <li>
            {{'DialogContent.CalendarPage.H1P2' | translate }}
        </li>
        <li>
            {{'DialogContent.CalendarPage.H1P3' | translate }}
        </li>
        <li>
            {{'DialogContent.CalendarPage.H1P4' | translate }}
        </li>
        <li>
            {{'DialogContent.CalendarPage.H1P5' | translate }}
        </li>
    </ul>
    <h2 class="headingDialog">{{'DialogContent.CalendarPage.Head2' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.CalendarPage.H2P4' | translate }}
        </li>
        <li>
            {{'DialogContent.CalendarPage.H2P4' | translate }}
        </li>
        <li>{{'DialogContent.CalendarPage.H2P4' | translate }}</li>
    </ul>
    <p class="impTextP">{{'DialogContent.CalendarPage.PText' | translate }}</p>
</div>
<!-- coming from calendar page for add appointment-->
<div *ngIf="data.fromPage == 'addAppointment'">
    <form [formGroup]="addAppointForm" autocomplete="off">
        <div class="mb-3">
            <div class="row">
                <div class="col-12 columnInp ">
                    <label class="form-label label" for="passwordInput">{{'FormDetails.Name' | translate }}</label>
                    <input type="text" autocomplete="off" placeholder="Enter Name" class="form-control input formIn"
                        formControlName="name" [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
                        maxlength="60" minlength="2">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                        <div *ngIf="name.errors?.['required']">
                            This field is required.
                        </div>
                        <div *ngIf="name.errors?.['maxlength'] || name.errors?.['minlength']">
                            Please add valid name
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col-6 columnInp ">
                    <label class="form-label label" for="passwordInput">{{'FormDetails.StartTime' | translate }}</label>
                    <input [ngxTimepicker]="startTimeNGX" readonly class="form-control input formIn" placeholder="Start Time"
                        formControlName="startTime" 
                        [class.is-invalid]="startTime.invalid && (startTime.dirty || startTime.touched)"
                        preventOverlayClick="false">
                    <ngx-material-timepicker #startTimeNGX></ngx-material-timepicker>
                    <div *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)" class="invalid-feedback">
                        <div *ngIf="startTime.errors?.['required']">
                            This field is required.
                        </div>
                    </div>

                </div>
                <div class="col-6 columnInp">
                    <label class="form-label label" for="repeatPassword">{{'FormDetails.FinishTime' | translate }} </label>
                    <input [ngxTimepicker]="finishTimeNGX" readonly class="form-control input formIn" placeholder="Finish Time"
                        formControlName="finishTime"
                        [class.is-invalid]="finishTime.invalid && (finishTime.dirty || finishTime.touched)"
                        minlength="2">
                    <ngx-material-timepicker #finishTimeNGX></ngx-material-timepicker>
                    <div *ngIf="finishTime.invalid && (finishTime.dirty || finishTime.touched)"
                        class="invalid-feedback">
                        <div *ngIf="finishTime.errors?.['required']">
                            This field is required.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col-12 columnInp ">
                    <label class="form-label label" for="passwordInput">{{'FormDetails.Date' | translate }}</label>
                    <input matInput placeholder="dd/mm/yyyy" readonly [matDatepicker]="datepickerFrom" formControlName="date"
                        (click)="datepickerFrom.open()" class="form-control input formIn"
                        [class.is-invalid]="date.invalid && (date.dirty || date.touched)">
                    <mat-datepicker #datepickerFrom></mat-datepicker>

                    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="invalid-feedback">
                        <div *ngIf="date.errors?.['required']">
                            This field is required.
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row dayRow">
                <div class="col-6 ">
                    <button class="btn btn-primary savebtn saveApp" style="background-color: #5E5CE6;"
                        (click)="saveAppointment()">{{'buttonsText.Save' | translate }}</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary cancelbtn cancelApp" (click)="cancelAppointment()">{{'buttonsText.Cancel' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- coming from Position page step 1 -->
<div *ngIf="data.fromPage == 'Pos1'">
    <h2 class="headingDialog">{{'DialogContent.PositionPage.Head1' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.PositionPage.H1P1' | translate }}
        </li>
    </ul>
</div>
<!-- coming from Position page step 2 -->
<div *ngIf="data.fromPage == 'Pos2'">
    <h2 class="headingDialog">{{'DialogContent.PositionPage.Head2' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.PositionPage.H1P1' | translate }}
        </li>
        <li>{{'DialogContent.PositionPage.H1P2' | translate }}</li>
    </ul>
</div>
<!-- coming from Position page step 3 -->
<div *ngIf="data.fromPage == 'Pos3'">
    <h2 class="headingDialog">{{'DialogContent.PositionPage.Head3' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.PositionPage.H3P1' | translate }}
        </li>
        <li>{{'DialogContent.PositionPage.H3P2' | translate }}</li>
    </ul>
</div>
<!-- coming from Position page step 4 -->
<div *ngIf="data.fromPage == 'Pos4'">
    <h2 class="headingDialog">{{'DialogContent.PositionPage.Head4' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.PositionPage.H4P1' | translate }} 
        </li>
        <li>{{'DialogContent.PositionPage.H4P2' | translate }}</li>
        <li>{{'DialogContent.PositionPage.H4P3' | translate }}</li>
        <li>{{'DialogContent.PositionPage.H4P4' | translate }}</li>
    </ul>
</div>
<!-- coming from Position page step 5 -->
<div *ngIf="data.fromPage == 'Pos5'">
    <h2 class="headingDialog">{{'DialogContent.PositionPage.Head5' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.PositionPage.H5P1' | translate }}
        </li>
        <li>{{'DialogContent.PositionPage.H5P2' | translate }}</li>
        <li>{{'DialogContent.PositionPage.H5P3' | translate }}</li>
    </ul>
</div>
<!-- coming from Position page step 6 -->    
<div *ngIf="data.fromPage == 'Pos6'">
    <h2 class="headingDialog">{{'DialogContent.PositionPage.Head6' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.PositionPage.H1P1' | translate }}
        </li>
        <li>{{'DialogContent.PositionPage.H1P2' | translate }}</li>
        <li>{{'DialogContent.PositionPage.H1P3' | translate }}</li>
        <li>{{'DialogContent.PositionPage.H1P4' | translate }}</li>
    </ul>
    <h2 class="headingDialog">{{'DialogContent.PositionPage.Head7' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.PositionPage.H7P1' | translate }}
        </li>
        <li>{{'DialogContent.PositionPage.H7P2' | translate }}</li>
    </ul>
    <h2 class="headingDialog">{{'DialogContent.PositionPage.Head8' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.PositionPage.H8P1' | translate }}
        </li>
        <li>{{'DialogContent.PositionPage.H8P2' | translate }}</li>
    </ul>
    <h2 class="headingDialog">{{'DialogContent.PositionPage.Head9' | translate }}</h2>
</div>
<!-- coming from Staff page step 1 -->
<div *ngIf="data.fromPage == 'Staff1'">
    <h2 class="headingDialog">{{'DialogContent.StaffPage.Head1' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.StaffPage.H1P1 | translate }}
        </li>
        <li>{{'DialogContent.StaffPage.H1P2 | translate }}</li>
        <li>{{'DialogContent.StaffPage.H1P3 | translate }}</li>
    </ul>
</div>
<!-- coming from Staff page step 2 -->
<div *ngIf="data.fromPage == 'Staff2'">
    <h2 class="headingDialog">{{'DialogContent.StaffPage.Head2' | translate }}</h2>
    <ul>
        <li>
            {{'DialogContent.StaffPage.H2P1' | translate }}
        </li>
        <li>{{'DialogContent.StaffPage.H2P2' | translate }}</li>
        <li>{{'DialogContent.StaffPage.H2P3' | translate }}</li>
        <li>{{'DialogContent.StaffPage.H2P4' | translate }}</li>
        <li>{{'DialogContent.StaffPage.H2P5' | translate }}</li>
    </ul>
</div>
<!-- coming from Staff page step 2 -->
<div *ngIf="data.fromPage == 'Staff3'">
    <h2 class="headingDialog">{{'DialogContent.StaffPage.Head3' | translate }}</h2>
</div>