<!-- coming from salon page -->
<div *ngIf="data.fromPage == 'salonPage'">
    <h2 class="headingDialog">Add a salon</h2>
    <ul>
        <li>
            Click add salon button
        </li>
        <li>
            To add extra salons click add salon.
        </li>
    </ul>
    <h2 class="headingDialog">Click on the pencil to edit the second form</h2>
    <ul>
        <li>
            Fill out the form by entering your salon details
        </li>
        <li>
            Upload your salon banner
        </li>
        <li>Upload your salon logo</li>
        <li>Click save</li>
    </ul>

    <h2 class="headingDialog">Click on the pencil to edit the second form.</h2>
    <ul>
        <li>
            Click on each day and enter the time your salon opens and closes
        </li>
        <li>
            Click save
        </li>
    </ul>
</div>
<!-- coming from company information page -->
<div *ngIf="data.fromPage == 'companyInfo'">
    <h2 class="headingDialog">Click on the pencil to edit the first form.</h2>
    <ul>
        <li>
            Fill out the form by entering your company information
        </li>
        <li>
            Upload your salon document
        </li>
        <li>Click save</li>
    </ul>
</div>
<!-- coming from bookings page -->
<div *ngIf="data.fromPage == 'booking'">
    <h2 class="headingDialog">To accept a book</h2>
    <ul>
        <li>
            Click accecpt
        </li>
    </ul>
    <h2 class="headingDialog">To Reject a booking</h2>
    <ul>
        <li>
            Click reject
        </li>
    </ul>

    <h2 class="headingDialog">To offer new time</h2>
    <ul>
        <li>
            Select a time from
        </li>
        <li>
            Click save
        </li>
        <li>Select a time to</li>
        <li>Click send</li>
    </ul>
</div>
<!-- dialog box for offer new time in booking page -->
<div *ngIf="data.fromPage == 'BookOfferTime'">
    <h2 class="textNewTime">New Time</h2>
    <div class="timeIn">
        <input class="form-control input " placeholder="From">
        <input class="form-control input " placeholder="To">
    </div>
    <button class="btn btn-primary savebtn" (click)="sendNewOfferTime()">Send</button>
</div>
<!-- coming from company Notification page -->
<div *ngIf="data.fromPage == 'notification'">
    <h2 class="headingDialog">Turn notifications off</h2>
    <ul>
        <li>
            Click from
        </li>
        <li>
            Select time
        </li>
        <li>Click to</li>
        <li>Select time</li>
    </ul>
</div>
<!-- coming from calendar page -->
<div *ngIf="data.fromPage == 'calendar'">
    <h2 class="headingDialog">Adding appointments for walkins</h2>
    <ul>
        <li>
            Click add appointment
        </li>
        <li>
            Enter the customer's name
        </li>
        <li>
            Enter start time
        </li>
        <li>
            Enter finish time
        </li>
        <li>
            Enter date
        </li>
    </ul>
    <h2 class="headingDialog">Changing calendar date</h2>
    <ul>
        <li>
            Click change date
        </li>
        <li>
            Pick a date
        </li>
        <li>Click save</li>
    </ul>
    <p class="impTextP">Customers booking with the salon app will be auto-entered into the calendar</p>
</div>
<!-- coming from calendar page for add appointment-->
<div *ngIf="data.fromPage == 'addAppointment'">
    <form [formGroup]="addAppointForm" autocomplete="off">
        <div class="mb-3">
            <div class="row">
                <div class="col-12 columnInp ">
                    <label class="form-label label" for="passwordInput">Name</label>
                    <input type="text"  autocomplete="off" placeholder="Enter Name" class="form-control input formIn" formControlName="name"
                    [class.is-invalid]="name.invalid && (name.dirty || name.touched)" maxlength="60" minlength="2">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                        <div *ngIf="name.errors?.['required']">
                            This field is required.
                          </div>
                          <div *ngIf="name.errors?.['maxlength'] || name.errors?.['minlength']">
                            Please add valid name
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col-6 columnInp ">
                    <label class="form-label label" for="passwordInput">Start Time</label>
                    <input type="text" placeholder="Start Time" class="form-control input formIn" formControlName="startTime"
                    [class.is-invalid]="startTime.invalid && (startTime.dirty || startTime.touched)">
                    <div *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)" class="invalid-feedback">
                        <div *ngIf="startTime.errors?.['required']">
                            This field is required.
                          </div>
                    </div>

                </div>
                <div class="col-6 columnInp">
                    <label class="form-label label" for="repeatPassword">Finish Time </label>
                    <input type="text" placeholder="Finish Time" class="form-control input formIn" formControlName="finishTime"
                    [class.is-invalid]="finishTime.invalid && (finishTime.dirty || finishTime.touched)"  minlength="2">
                    <div *ngIf="finishTime.invalid && (finishTime.dirty || finishTime.touched)" class="invalid-feedback">
                        <div *ngIf="finishTime.errors?.['required']">
                            This field is required.
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col-12 columnInp ">
                    <label class="form-label label" for="passwordInput">Date</label>
                    <input type="text" placeholder="Enter Date" class="form-control input formIn" formControlName="date"
                    [class.is-invalid]="date.invalid && (date.dirty || date.touched)" maxlength="60" minlength="2">
                    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="invalid-feedback">
                        <div *ngIf="date.errors?.['required']">
                            This field is required.
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3" >
            <div class="row dayRow">
                <div class="col-6 ">
                    <button class="btn btn-primary savebtn saveApp" style="background-color: #5E5CE6;">Save</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary cancelbtn cancelApp">Cancel</button>
                </div>
            </div>
        </div>
    </form>
    
</div>



<!-- coming from Position page step 1 -->
<div *ngIf="data.fromPage == 'Pos1'">
    <h2 class="headingDialog">Add Position.</h2>
    <ul>
        <li>
            Click add position
        </li>
    </ul>
</div>
<!-- coming from Position page step 2 -->
<div *ngIf="data.fromPage == 'Pos2'">
    <h2 class="headingDialog">Name</h2>
    <ul>
        <li>
            Enter job title
        </li>
        <li>Click next</li>
    </ul>
</div>
<!-- coming from Position page step 3 -->
<div *ngIf="data.fromPage == 'Pos3'">
    <h2 class="headingDialog">Setting up the Time</h2>
    <ul>
        <li>
            Enter the time the position works within the salon.
        </li>
        <li>Click next</li>
    </ul>
</div>
<!-- coming from Position page step 4 -->
<div *ngIf="data.fromPage == 'Pos4'">
    <h2 class="headingDialog">Setting up the permissions</h2>
    <ul>
        <li>
            Click the dropdown menu, and pick a permission the job can access within the software.
        </li>
        <li>Click add permission to add more permissions</li>
        <li>Repeat previous steps</li>
        <li>When finished, click next</li>
    </ul>
</div>
<!-- coming from Position page step 5 -->
<div *ngIf="data.fromPage == 'Pos5'">
    <h2 class="headingDialog">Setting up the employee type</h2>
    <ul>
        <li>
            Click the dropdown
        </li>
        <li>Pick employed or self-employed</li>
        <li>Click next</li>
    </ul>
</div>
<!-- coming from Position page step 6 -->
<div *ngIf="data.fromPage == 'Pos6'">
    <h2 class="headingDialog">Setting up the services</h2>
    <ul>
        <li>
            Click the dropdown category and pick one
        </li>
        <li>Enter a service name</li>
        <li>Enter the time that service takes</li>
        <li>Enter price</li>
    </ul>
    <h2 class="headingDialog">To add more service</h2>
    <ul>
        <li>
            Click add service
        </li>
        <li>Repeat step 2 to 4 as before</li>
    </ul>
    <h2 class="headingDialog">Adding a new category</h2>
    <ul>
        <li>
            Click add category
        </li>
        <li>Repeat service steps 1 to 4</li>
    </ul>
    <h2 class="headingDialog">When finished, click save</h2>
</div>
<!-- coming from Staff page step 1 -->
<div *ngIf="data.fromPage == 'Staff1'">
    <h2 class="headingDialog">Adding staff</h2>
    <ul>
        <li>
            Click add staff
        </li>
        <li>Enter your employee email</li>
        <li>Click send</li>
    </ul>
</div>
<!-- coming from Staff page step 2 -->
<div *ngIf="data.fromPage == 'Staff2'">
    <h2 class="headingDialog">Setting up the employee</h2>
    <ul>
        <li>
            Click the dropdown details 
        </li>
        <li>Click dropdown, position, and pick one</li>
        <li>For the employee to take booking, click add to calendar</li>
        <li>Break from and to are optional for employees who go on holiday</li>
        <li>Employee details will be auto-setup when your employee joins</li>
    </ul>
</div>
