<!-- coming from salon page -->
<div *ngIf="data.fromPage == 'salonPage'">
    <h2 class="headingDialog">Add a salon</h2>
    <ul>
        <li>
            Click add salon button
        </li>
        <li>
            To add extra salons click add salon.
        </li>
    </ul>
    <h2 class="headingDialog">Click on the pencil to edit the second form</h2>
    <ul>
        <li>
            Fill out the form by entering your salon details
        </li>
        <li>
            Upload your salon banner
        </li>
        <li>Upload your salon logo</li>
        <li>Click save</li>
    </ul>

    <h2 class="headingDialog">Click on the pencil to edit the second form.</h2>
    <ul>
        <li>
            Click on each day and enter the time your salon opens and closes
        </li>
        <li>
            Click save
        </li>
    </ul>
</div>
<!-- coming from company information page -->
<div *ngIf="data.fromPage == 'companyInfo'">
    <h2 class="headingDialog">Click on the pencil to edit the first form.</h2>
    <ul>
        <li>
            Fill out the form by entering your company information
        </li>
        <li>
            Upload your salon document
        </li>
        <li>Click save</li>
    </ul>
</div>
<!-- coming from bookings page -->
<div *ngIf="data.fromPage == 'booking'">
    <h2 class="headingDialog">To accept a book</h2>
    <ul>
        <li>
            Click accecpt
        </li>
    </ul>
    <h2 class="headingDialog">To Reject a booking</h2>
    <ul>
        <li>
            Click reject
        </li>
    </ul>

    <h2 class="headingDialog">To offer new time</h2>
    <ul>
        <li>
            Select a time from
        </li>
        <li>
            Click save
        </li>
        <li>Select a time to</li>
        <li>Click send</li>
    </ul>
</div>
<!-- coming from company Notification page -->
<div *ngIf="data.fromPage == 'notification'">
    <h2 class="headingDialog">Turn notifications off</h2>
    <ul>
        <li>
            Click from
        </li>
        <li>
            Select time
        </li>
        <li>Click to</li>
        <li>Select time</li>
    </ul>
</div>
<!-- coming from calendar page -->
<div *ngIf="data.fromPage == 'calendar'">
    <h2 class="headingDialog">Adding appointments for walkins</h2>
    <ul>
        <li>
            Click add appointment
        </li>
        <li>
            Enter the customer's name
        </li>
        <li>
            Enter start time
        </li>
        <li>
            Enter finish time
        </li>
        <li>
            Enter date
        </li>
    </ul>
    <h2 class="headingDialog">Changing calendar date</h2>
    <ul>
        <li>
            Click change date 
        </li>
        <li>
            Pick a date
        </li>
        <li>Click save</li>
    </ul>
    <p class="impTextP">Customers booking with the salon app will be auto-entered into the calendar</p>
</div>











